[2019-05-28 15:58] anthonyjesmok opened #1 "Find Venue for 6/20 Hack Night"
Potential Places
- PKWare (Unavailable for Milwaukee DevFest)
- Ward 4

[2019-06-30 16:02] romkedehaan opened #2 "Order more name tags"
Someone needs to own getting name tags

[2019-06-30 16:02] romkedehaan opened #3 "More CfM Stickers"
We need to order more stickers

[2019-06-30 16:02] romkedehaan opened #4 "Signage"
We need some signage for meetups

- [ ] sharpies
- [ ] tape
- [ ] Print out signs (@BarkleyBG ?)

[2019-06-30 16:03] romkedehaan opened #5 "Dry Erase Markers"
We should get some dry erase markers for the night

[2019-06-30 16:03] romkedehaan commented on #1
Closing this out.

[2019-06-30 16:03] #1 closed

[2019-06-30 16:04] romkedehaan opened #6 "Food for 7/18"
We need food

[2019-06-30 17:16] Aycrazy opened #7 "Email templates for personal invitations"
https://docs.google.com/document/d/1Yuba_ROowAlD-fwouwC2u9vbK1GOn3Ly9VxpChkdZME/edit

[2019-07-01 22:30] BarkleyBG opened #8 "Migrate all open issues from last strategy meeting to GitHub issues"
There are some todo's that are orphaned in a google doc. I need to move them to trackable GH issues

[2019-07-01 22:32] Aycrazy opened #9 "Create facilitation email template to set one-on-one conversation"
1) scoping out the project and making sure that the solution matches the issue/need
What is the component/task of utmost priority?
Who does this task serve?
Do you know about/ have data to reflect their challenges/barriers to getting what they need?
Yes
what does it say? How will this be incorporated?
Will you need more info?
No
Will you need to?
How will you gather information?  Invite people to

[2019-07-02 15:40] BarkleyBG opened #10 "Write blog post post-HackNight1"
Nadiyah may be interested in another blog post after our Hack Night. Who wants to help with it?

[2019-07-02 16:05] BarkleyBG opened #11 "Log Attendance & improve communications from Hack Nights"
We'd like to
1. track attendance
2. keep in touch with interested community members.

### potential strategy
1. One-question google poll to grab email from every attendee
2. Short google poll to ask “what did you work on” “did it go well” “other feedback” after a hack night
  - open it up in the last 30 mins of hack night
  - be sure to share it out during closing remarks
  - Take all email addres

[2019-07-02 16:05] BarkleyBG commented on #11
Erin and Brian are assigned this

[2019-07-02 16:10] BarkleyBG opened #12 "Identify what's missing from website v1"
Let's ID what we want to have on the website by Hack Night 2. Then, we can knock these issues off.

[2019-07-02 16:18] BarkleyBG opened #13 "Video idea: Short interviews with various Hack Night attendees"
Idea: let's go around and get short clips of people at Hack Night describing why they wanted to attend Hack Night, and maybe what they do?

Potential Q's to ask on camera:
- first name / nickname
- why they wanted to come to hack night
- job or career
- experience with civic stuff
- experience with coding

@romkedehaan what do you think?

[2019-07-02 16:21] BarkleyBG opened #14 "Start a template for "how to introduce your project at a Hack Night""
We received good feedback that some people would have been more interested & able to present their project at a Hack Night if they knew what they introduction should look like. Let's start a template for what an introduction should include:

- your name
- your project's main goal or purpose
- what stage is your project in
  - or, what you hope to work on or accomplish in short term
- any particula

[2019-07-02 16:22] BarkleyBG commented on #14
@Aycrazy Who do you think should be responsible for final approval of the template? Once approved, we can have @anthonyjesmok add it to the slide deck for July

[2019-07-02 16:24] BarkleyBG commented on #9
Is this issue the same thing as "start a Project Scoping Committee"?

[2019-07-02 16:25] BarkleyBG opened #15 "Tracking involvement & impact over time"
Erin and Brian want to track membership involvement, and how we're impacting our members and MKE's communities over time.

Once we figure out who is coming to each of our events (#11 ) then we can start to track longitudinally

[2019-07-02 16:29] BarkleyBG commented on #8
done!

[2019-07-02 16:29] #8 closed

[2019-07-02 16:34] BarkleyBG opened #16 "Create Scoping Committee"
One of the more challenging parts of using data to solve problems is at the outset: defining the problem to solve. Project scoping is the process through which various partners build a common definition of the problem and begin to imagine a feasible solution. The event in which groups collaborate to practice project scoping is known as a “scope-a-thon.”

CfM should create a "Project Scoping Commit

[2019-07-02 19:51] romkedehaan commented on #4
What should the signs say? I can design them. @anthonyjesmok @Aycrazy

[2019-07-02 20:54] Aycrazy opened #17 "Create a slide for Sponsors/Partners for Hack Night & Other Presentations"
You know one of those slides with all the logos....

[2019-07-03 01:22] BarkleyBG commented on #4
IIRC, the signs are mostly for posting at the location (e.g., Lubar) on the day of the Hack Night to help orient people to the main hall. (We could also have signs for orienting people to the breakout rooms). If this is the case, then:
- "CFM Hack Night"
-  Logo
- if desired: Room name
- if desired: arrow or other directional (50/50 in either direction)

[2019-07-03 03:25] Aycrazy opened #18 "Orientation guide and slides"
This has been started

Further ideas

1. GitHub intro: (Migrated to #25 )
2. Perhaps the intro can use adding a project to the site as an example and it will actually become a pull request that's implemented

[2019-07-03 11:42] Aycrazy commented on #18
https://discourse.codeforamerica.org/t/onboarding-best-practices/172

[2019-07-03 14:34] BarkleyBG commented on #18
1. I explain git as a combination of file system + version control system. It looks like a file system, but its foundation is on version control and snapshots ("commits"). That, and a couple other key concepts seem to go a long way.

2. I think it could be easy to ask everyone to make a small pull request (add their name to a file, e.g.) on a dummy repo. This is a way to make it less scary & more

[2019-07-09 01:57] Aycrazy commented on #14
I think you and Erin are the authorities on this, but we can discuss it as a group (sans you) on Sunday

[2019-07-09 03:26] Aycrazy commented on #9
These resources are for data science project scoping, but are more widely applicable

https://dssg.uchicago.edu/2016/04/28/inctroducing-the-data-maturity-framework/

https://dsapp.uchicago.edu/home/resources/data-science-project-scoping-guide/

[2019-07-09 16:08] Aycrazy opened #19 "Plan Presenters 2-3 months in advance"

[2019-07-10 00:34] anthonyjesmok commented on #6
YES will be bringing food as part of our co-hosting arrangement. Menu is pending.

[2019-07-11 12:49] Aycrazy commented on #9
https://docs.google.com/document/d/1FsoT_aKPPgXucgH4kPQo3wl9Io5IneEPjMVriXCLusM/edit

[2019-07-14 19:21] Aycrazy opened #20 "Put all Hack Night Materials in Box"
Box will be stored at NoStudio's? Brian's house? Romke's house?

[2019-07-14 19:25] Aycrazy commented on #4
Places:

- parking garage
- lobby
- entrances
- breakout rooms
   - M110 - Collaboration Space
   - S151 - main meeting space
   - S171 - Orientation
- Chalk signs? Joke?

[2019-07-14 19:28] Aycrazy commented on #4
Whishlist:
Giant Post-its

[2019-07-14 19:41] romkedehaan commented on #4
[sign](https://drive.google.com/drive/u/3/folders/1xELm-cPPp80xAXv14g9Bih_tZTHoHIml)

[2019-07-14 20:54] Aycrazy opened #21 "Add photo waiver to Meetup RSVp"
Let's look at cfa discourse for how other brigades do this.  @romkedehaan @Aycrazy (I added Romke because he seems to know how to do this ;)

[2019-07-15 13:26] Aycrazy commented on #2
How many do we have left?  Regardless we probably should get 50 more or something

[2019-07-15 14:50] anthonyjesmok commented on #2
I ordered 200 more. They will be delivered to my house on Wednesday in time for Thursday.

[2019-07-15 14:52] anthonyjesmok commented on #5
I ordered a pack of 40 to be delivered to me on Wednesday in time for Thursday

[2019-07-15 17:18] Aycrazy commented on #3
I'll order ones from the Code for Raleigh person that made the ones that Mitch brought back from the Summit

[2019-07-15 17:39] BarkleyBG opened #22 "Who takes the CFM HN supplies box after July's HN?"
I have a small box of Hack Night supplies. I might not make the August 15th hack night. Who can take the box after July's hack night?

[2019-07-15 17:40] anthonyjesmok commented on #22
We had spoken about keeping them at Romke's house or his No Studios office.

On Mon, Jul 15, 2019, 12:39 PM Brian G. Barkley <notifications@github.com>
wrote:

[2019-07-15 18:13] erinmagennis commented on #22
Hi

[2019-07-15 18:18] erinmagennis commented on #22
@anthonyjesmok but if Romke is gone for August, we should find a different solution for the time being. If the event is the 3rd week on August 15th I can take the box. If the hack night is moved to the 22nd someone else will have to take it because I won't be there.

[2019-07-15 20:30] BarkleyBG commented on #22
Test. Hi @erinmagennis . Seems like it's easier to tag you now.

[2019-07-16 15:40] BarkleyBG commented on #5
I have a handful in my bag right now, so we should have some backups.

@anthonyjesmok if you're expecting the 40 markers to come in on time tomorrow, we could close this issue now. Sound good?

[2019-07-16 15:51] BarkleyBG opened #23 "Create document for getting people signed up on Slack"
Let's create a document to help people get oriented with our methods of communication. Slack (and GitHub) will be helpful for conversations

[2019-07-16 15:52] BarkleyBG commented on #18
Erin and I will take this, & we are putting it in the New Member Orientation milestone

[2019-07-16 16:01] erinmagennis opened #24 "Create a form to capture skillset/interests of attendees/new members"
Determine which format is best:
- Short Google form
- Longer Google [follow-up form](https://docs.google.com/a/codeformilwaukee.org/forms/d/1LdB_ybRST2uPLkFK3B297vBmAtH9rc-sp3pz3hxXUVU/edit?usp=drive_web)
- submit a skill through github
- conversations

[2019-07-16 16:19] BarkleyBG commented on #24
How does this look @erinmagennis ? [CfM Orientation Poll](https://docs.google.com/forms/d/17BC3Vm0hjKlpzZhksQL0N0oGrJqo-Sl4PsA0rwICxjc/edit)

[2019-07-16 16:35] BarkleyBG commented on #18
Here's a slide deck we're working on, with intent to use it for new member orientation: https://docs.google.com/presentation/d/1zhh6Pjm6opz5JMhDUb0Jad3gCHQ08OyJ6L2yZR30tHE/edit#slide=id.p

[2019-07-16 17:11] BarkleyBG opened #25 "What is necessary for a minimal GitHub Intro"
Erin put it nicely - we want people to feel comfortable to contribute their ideas on GitHub. So, what do we need to talk about in order for them to be able to do that?

[2019-07-16 17:12] BarkleyBG commented on #18
Update: the slide deck is _almost_ ready. The thing we have to do the most work on is #25 - creating an effective yet short intro to Github

[2019-07-16 17:14] BarkleyBG commented on #18
@erinmagennis  and I will continue to polish the slide deck

[2019-07-16 17:15] erinmagennis commented on #24
decided on: Long Google Form

[2019-07-16 17:15] #24 closed

[2019-07-16 17:16] BarkleyBG commented on #23
- [This slide](https://docs.google.com/presentation/d/1zhh6Pjm6opz5JMhDUb0Jad3gCHQ08OyJ6L2yZR30tHE/edit#slide=id.g5d3f914f4a_0_187) provides info on what methods of communication we use for social media. It is good - not perfect yet - but has what we need for Thursday.
- We now have [semi-permanent instructions for joining CfM slack channel](https://github.com/codeformilwaukee/welcome#instructions

[2019-07-16 17:16] #23 closed

[2019-07-16 17:21] BarkleyBG opened #26 "What is long-term plan for the CfM Slack Channel?"
Right now, there are:

1. A Milwaukee.slack.com #code-for-mke slack channel.
   - It's free
   - but no history.
2. A CFA #cfm slack channel.
   - It's not free
    - but has saved history.

What's the long-term plan for getting CfM members to stay up to date?

Suggestion:
3. Create codeformilwaukee.slack.com with channels for different projects.
    - Would this be free (or cheap enough)?
    - _

[2019-07-16 17:30] erinmagennis opened #27 "Can someone shorten the Facebook URL?"
Right now it's: https://www.facebook.com/Code-for-Milwaukee-622396371575546/
Can someone who has admin access take those numbers at the end off please?

[2019-07-16 18:27] BarkleyBG commented on #3
Good idea. We have a bunch in the box so we are set for July’s HN.

[2019-07-16 18:28] BarkleyBG commented on #20
I have a box started. I’ll bring it Thursday. We may need to buy a better box as we go.

[2019-07-16 18:35] BarkleyBG commented on #25
We’ve added a section to the orientation slides on this.

With the intent on helping people get familiarized with GH, we could lead an interactive Scavenger Hunt on Thursday, eg:
https://github.com/codeformilwaukee/intro-to-github/issues/2

[2019-07-16 18:44] BarkleyBG commented on #4
I think I can print them on Thursday. Can anyone print them before then?

 - Brian

Sent from my phone; please excuse any typos

[2019-07-16 19:14] Aycrazy commented on #4
I can

[2019-07-16 19:27] Aycrazy commented on #4
Done

[2019-07-16 19:28] #4 closed

[2019-07-18 17:35] BarkleyBG commented on #14
Added here: https://docs.google.com/presentation/d/1B2CdTh0DntF430I88xaBRXS-OIgkDq3Y90x6-tLllB8/edit#slide=id.g5dd10212c3_0_57

[2019-07-18 17:35] #14 closed

[2019-07-18 17:35] #6 closed

[2019-07-18 17:36] #20 closed

[2019-07-21 17:09] BarkleyBG opened #28 "Confirm details for 20190727 Strategy meeting"
Let’s meet on Saturday. We should attend both Hack & Tell as well as Milky Way. How can we attend both and also have a (brief?) strategy meeting amongst as many core team members as possible?

[2019-07-21 17:11] BarkleyBG opened #29 "Check if there’s a CFA Slack / github integration?"
It could be helpful to see if we can integrate github into our slack so we can open and close issues from slack

https://github.com/integrations/slack/blob/master/README.md

[2019-07-21 18:33] erinmagennis commented on #28
I like Andrew's suggestion (I think it was Andrew's suggestion) to meet up at Hack and Tell at 2pm for a strategy session.

Then those of us who want to go to Milky Way can and those at Hack & Tell will already be there and this meeting could be a brain break from whatever they were working on.

[2019-07-21 22:53] BarkleyBG commented on #28
Milky Way runs 10-12 right? Should we consider moving the strategy session to 12:30 at Hack N Tell?

[2019-07-22 22:37] erinmagennis commented on #28
12:30 is smarter. From what I understand, me, you/Brian, and Andrew will be at Milky Way. Then whenever we are done we can wander over to Hack & Tell where Mitch and Romke will be.

However, Anthony is now busy so we won't be able to do the training video to deal with kiddos so another time will have to exist for that. @anthonyjesmok can those of us that will be there for August just show up early

[2019-07-23 02:08] Aycrazy commented on #28
Oh yeah they (Hack & Milky) are in the same building!! So would it be cool if Katie came at 2 or do we want her to come earlier?

All that said I may be a little late to Milky Way on account of my run group meeting that morning

[2019-07-23 15:38] BarkleyBG commented on #28
I have some other things that have come up for Saturday. I'm working on scheduling. I hope to be able to make our Strategy meeting for an hour, but I dont think I'll attend Milky Way this time around.

I'll be in touch about what time(s) work better for me, and I'll try to play a role in our strategy meeting & perhaps with Katie.

[2019-07-23 16:08] Aycrazy commented on #28
All available will meet at the Hack N' Tell at 1pm, and hang around to talk with Katie Pritchard at 2pm on Saturday, July 27th
/polls Yes 'No'

[2019-07-23 17:16] Aycrazy commented on #28
All available will meet at the Hack N’ Tell at 1pm, and hang around to talk with Katie Pritchard at 2pm on Saturday, July 27th
/poll “yes” “no”

[2019-07-23 17:39] Aycrazy commented on #28
/polls Option1 'Option 2' "Option 3"

[2019-07-24 04:24] Aycrazy opened #30 "FOIA training at hack night"
I think this should be a goal over the next 2-3 months

[2019-07-24 04:24] Aycrazy commented on #29
I think we can.

[2019-07-24 04:26] Aycrazy commented on #10
Too late for this? Being grouped with a blogpost for 2nd hack night?

[2019-07-24 12:00] Aycrazy opened #31 "Zeidler Center Cultural Competency"
Presentation one month? Need to reach out. Anyone have contact there?

[2019-07-24 15:37] Aycrazy opened #32 "Government Relations Committee"
To add to list

[2019-07-28 21:51] Aycrazy opened #33 "Data Day Collaboration"
Data You Can Use (Dr. Katie Pritchard & Co) will be hosting the Data Day on Wednesday, October 23rd (all day)

We discussed the following ways of being involved:

Having an ask a Data Scientist/Civic Technologist Booth
Key Questions:

- What is the ideal environment/setting/time for this to be offered at Data Day (at Data4BlackLives a couple of Data Scientists were available during the 1.5 hr lunc

[2019-07-29 17:03] BarkleyBG commented on #33
I like the Ask a Data Scientist booth. I could help find staffers for this.

- Finding volunteers is probably easier after-work-hours.
- Does DWCY have any info on what time Data Day will be running? Or any more information on the Data Day 2019?

[2019-08-08 13:07] #28 closed

[2019-08-08 13:07] #22 closed

[2019-08-08 13:08] BarkleyBG commented on #18
closing because we have a first draft of the Orientation slides now

[2019-08-08 13:08] #18 closed

[2019-08-10 06:19] BarkleyBG commented on #10
Maybe we could write one blog post summarizing the first 3 Hack nights for Nadiyah? Perhaps we could distill the most important parts.

Are we thinking of running our own blog? I don’t know if that’s where we want to spend our time, but we could do a monthly recap and retroactively write the first couple of posts.

[2019-08-10 06:21] BarkleyBG commented on #31
Andrew could you go into more detail here? I’m not sure what your intention is.

[2019-08-10 12:37] Aycrazy commented on #31
This was just an idea I had for project facilitator development/ perhaps some sort of participant training offering if Zeidler wanted to partner. I really just wanted to get the idea down somewhere. Nothing urgent

[2019-08-10 12:39] Aycrazy commented on #10
I agree. We seem to already have limited capacity. I don't think maintaining a blog is a priority. I wrote that first one because it was requested at the time.

[2019-08-10 22:52] anthonyjesmok commented on #5
I'm closing this issue as we seem to be satisfied with the markers we have and they are now a part of the hack night box.

[2019-08-10 22:52] #5 closed

[2019-08-11 11:37] Aycrazy commented on #3
I bought 200 and probably only have 40 left. Will need to do another order... But what I have, I can give to someone to bring on Aug 15th

[2019-08-19 22:36] erinmagennis opened #34 "Update links in welcome repository"
So they open to the proper url and don't build off of github.com
change link to accessible orientation slides (proper link: https://docs.google.com/presentation/d/1hwN9_HZ6jsnifv9BGSwOY2iXBW2XKXNKftGBz3Vzx3Y/edit?usp=sharing)

[2019-08-26 18:13] BarkleyBG opened #35 "Fix link to Branden's project on meetup"
Branden's bio has a missing link to his project: https://www.meetup.com/Code-for-Milwaukee/events/264268089/

[2019-08-26 18:16] BarkleyBG opened #36 "Create committees for NCDOH"
We need committess for NCDOH.

@Aycrazy any thoughts on what we need? (feel free to point BGB to relevant conversations)

# Potential committees
- Project Facilitation: work with Erin and Andrew to provide structure to projects and help them move from 'idea' to 'deliverable'
- ...

[2019-08-26 18:18] BarkleyBG opened #37 "Create sponsorship tiers"
Offering tiered sponsorship ideas would be a good way to help clarify:
- what we want
- how it helps us
- how we plan to show our love to the sponsors
- generally, improved consistency

# What we want

Here are topics that we often need money for:
- food at hack nights and other events
- ...

# What we can offer
- I would say a great sponsorship benefit would be able to put up a sign in one of the

[2019-08-26 18:27] BarkleyBG opened #38 "Create blurb to drum up interest in NDOCH"
I want to drum up support for CfM, and NDOCH is a potentially a great event to do that. Can someone help to come up with a good 3-4 sentence blurb of why NDOCH is a great time to come to your first CfM event?

[2019-08-26 19:22] BarkleyBG opened #39 "Create checklist/template that we can re-use for each hack night/event"
There are multiple items that we should verify that we have before each event (see below). What's a good way to make a checklist that:
1. is templated so we can easily re-use it
2. can be edited for each event (i.e., some events have more needs than others)

# Checklist:
- name tags
- signage
- speaker
- location
- food
- etc (add more)

[2019-08-26 19:25] #34 closed

[2019-08-26 19:39] #35 closed, assigned to nobody

[2019-08-28 15:13] BarkleyBG opened #40 "Make improvements to website --> formerly --> Get website up and running"
We need to work on the website: https://codeformilwaukee.github.io/

- [ ] Planning: determine the content for the site. e.g.,
    - do we have all the mission statement, taglines, etc, correct?
    - Do we want to add any more features? we will not be blogging, but what else does the site need to have?
- [ ] Execution 1: Content. @BarkleyBG should probably take lead.
- [ ] Execution 2: New featur

[2019-08-29 00:38] Dannycap commented on #37
Hey 👋

[2019-08-29 00:39] Aycrazy commented on #40
Let's touch on this during the meeting, the site is up to date with event information

[2019-08-29 00:44] BarkleyBG opened #41 "Create Meetup event for HN5 - October"

[2019-08-29 00:51] BarkleyBG commented on #25
We are satisfied for now. Updating this is low priority, so we are closing until we feel the need to update the github intro

[2019-08-29 00:51] #25 closed

[2019-08-29 00:51] #27 closed

[2019-08-29 00:53] BarkleyBG opened #42 "Invite people for lightning talks for NDOCH"
@anthonyjesmok, @Aycrazy , @erinmagennis  and others should determine people who could be invited.

see the schedule here: https://github.com/codeformilwaukee/hack-night-planning/blob/master/ndoch_2019/schedule.md#schedule-of-events

[2019-08-29 01:09] BarkleyBG opened #43 "Set up DNS to reroute website to codeformilwaukee.org address"
@anthonyjesmok has an idea how to do it?
Info in the shared drive - contact @Aycrazy for more info

[2019-08-29 01:10] BarkleyBG commented on #42
relates to #40

[2019-08-29 01:11] BarkleyBG opened #44 "How to better utilize Breakout Groups page on website?"
@Aycrazy wants to use this for multiple reasons (he can expound more...)
- socialization and outreach
- checking up on progress

[2019-08-29 01:18] BarkleyBG commented on #37
@Dannycap, @Aycrazy, and potentially @romkedehaan and @mitchellhenke  can finalize what this looks like.

Any final options should be brought up with full Core Team before decision is made

[2019-08-29 01:18] BarkleyBG commented on #17
Depends on #37

[2019-08-29 01:21] BarkleyBG commented on #37
@Dannycap  please send email out to schedule time with the 2-4 of you to finalize some options. It would be more than perfect to have this done by thursday 12 september. Ideal to have it done by NDOCH sept 21

[2019-08-29 01:23] BarkleyBG opened #45 "Grab a location for HN4.1, September"
@anthonyjesmok is working with Branden on Marquette's 707 space, perhaps. @erinmagennis wonders if it's too small?

[2019-08-29 01:31] BarkleyBG commented on #11
@erinmagennis maybe we should ask the CFA brigades to see if anybody has a better idea than we have?

[2019-08-29 01:42] BarkleyBG commented on #36
@Aycrazy @erinmagennis  and @BarkleyBG will talk about what milestones we want to hit for HN4 and beyond

[2019-08-29 01:43] BarkleyBG commented on #38
@anthonyjesmok also does words good

[2019-08-29 01:47] BarkleyBG commented on #7
@erinmagennis  and Danny have templates

[2019-08-29 15:01] erinmagennis opened #46 "NDOCH Marketing + Flyer"
1. Implement a marketing plan: social media, articles/posts, invite other orgs/clubs
2. Create flyer + post it around
3. Do we want to be on Bridge the City Podcast for this?

[2019-08-30 11:58] Aycrazy opened #47 "Create a plan for the hack/work portion of NCDOH"
@mitchellhenke will be responsible for planning the hacking portion of the event and can delegate tasks related to making sure that plan is executed

[2019-08-30 17:16] BarkleyBG opened #48 "Do we want permanent nametags/lanyards/shirts for Core Team and Committees?"
Would it be helpful if we had some way of visually designating Core Team or Committee members during hack nights?

- I think if we had permanent (and color-coded?)  lanyards, then it would help us to be more approachable to new people at our hack nights.
- I also think that if we create a committee (say, project facilitation) then we could have lanyards for them so that they also are more approach

[2019-08-30 17:41] anthonyjesmok commented on #48
I had found for PantherHacks some fluorescent vests for cheap. They are still on Amazon - $4.50 a piece. In the past, I have told people to identify core team members as those carrying radios, but the radios were often not used, left behind, and not visible - I will only be bringing them back for NDOCH where we will be spread out.

[2019-08-30 18:21] BarkleyBG commented on #11
Andrew said that the Discourse site is where CfA brigades talk about this kind of stuff.

[2019-08-30 18:21] erinmagennis commented on #48
I love the idea of lanyards! I also think they would find a nice home in the magic box.

[2019-09-01 03:29] anthonyjesmok commented on #43
The DNS is now pointing to GitHub Pages' servers as opposed to a sole URL direct, which did not support using the www. subdomain. Waiting for SSL certificate to issue from GitHub and checking for HTTPS compatibility.

[2019-09-04 16:10] erinmagennis opened #49 "Join Wisconsin STEM Fest list for Oct Hack-Night"
Sign up to have our oct hack night (oct 17th) be part of this statewide stem fest on the 17/18th:

https://wisconsinsciencefest.org/

[2019-09-04 16:53] Aycrazy commented on #38
pinging this again

[2019-09-05 14:33] Aycrazy opened #50 "Consider when to have a in depth share out of group progress (quarterly?)"
In collecting feedback from project leaders and other involved attendees, the idea of having some sort of "fair" on projects for people to have a space to explain their progress, learnings, challenges, and actual work product has been brought up several times.  We ought to work this in to the calendar

[2019-09-05 15:24] BarkleyBG commented on #50
I think quarterly blog posts would also be a good idea. Perhaps we could wrap these up together?

[2019-09-07 21:36] Aycrazy opened #52 "NCDOH Schedule"
RIght now we have Clean-Slate mentioned in two parts of the schedule.  Are we having Shanyeill as an opening keynote or a lunch time lunch and learn?  Once we figure that out, we can adjust the schedule and disperse the time for the other speakers in an even fashion.

Another somewhat related update is that the #closeMSDF leadership retreat was changed to the following week, so Mark Rice of JustLe

[2019-09-07 21:37] anthonyjesmok commented on #52
Lunch and learn for Clean Slate.

On Sat, Sep 7, 2019, 4:36 PM Andrew Yaspan <notifications@github.com> wrote:

[2019-09-07 21:38] Aycrazy commented on #46
Any movement on this?
Being on Bridge the City would be great, would you have availability to set this up and be on the podcast, @erinmagennis?

[2019-09-07 22:00] Aycrazy commented on #45
Done. Space is: UWM Mitchell Hall Building 191

[2019-09-07 22:00] #45 closed

[2019-09-07 22:05] Aycrazy opened #54 "Food HN 4"
Newance is sponsoring. What are we getting? @Dannycap

[2019-09-07 22:09] Aycrazy commented on #38
Any progress on this? @BarkleyBG @romkedehaan ?

[2019-09-08 00:57] erinmagennis commented on #46
I won’t have time prior to NDOCH to be on the podcast (plus others would be better people to talk about NDOCH with greater accuracy). I could make an intro for someone else to do it.

[2019-09-08 02:35] anthonyjesmok commented on #46
I can do it depending on days and times they're available. Perhaps myself
and Bryan?

On Sat, Sep 7, 2019 at 7:57 PM Erin Magennis <notifications@github.com>
wrote:

[2019-09-08 02:56] BarkleyBG commented on #46
I’m not familiar with Bridge the City. I’ll look into it

[2019-09-08 02:57] Aycrazy commented on #46
Definitely a fan of the twofer! I have some important talking points that I need to translate to a better format than the stream of consciousness notes I shared yesterday that I'd like to be included in any earned media like this. So let's make sure we can huddle to discuss this before whoever goes "on air"

[2019-09-08 18:23] Aycrazy commented on #46
RELEATED issue: https://github.com/codeformilwaukee/hack-night-planning/issues/38

[2019-09-08 18:24] Aycrazy commented on #38
Here's a draft, loosely based on what @anthonyjesmok and I included in the NCDOH meetup page
https://docs.google.com/document/d/1Gyla6wNnphFcy7NJlTeNDHkulV82cZhIaQt3PVaUrg8/edit

[2019-09-11 16:30] Aycrazy opened #55 "BrigadeCongress"
Andrew's Going to Brigade Congress

Pose questions that you think can be answered by folks in the Brigade network.

Andrew:
- Digital and Data Task Force at the city, how to broach, plan and create
- How to make Milwaukee a partner city?
- Tracking attendance, skills of attendees, needs of projects
- Project questions:
    - Limit projects?
    - Have project pre-reqs?
    - Have projects on a def

[2019-09-13 01:30] BarkleyBG opened #56 "Food for NDOCH"
- breakfast?
  - yes
  - Colectivo? @mitchellhenke could you get the list of what Hack N Tells usually do?
  - Ruby's bagels?

- lunch?
  - not messy - need to keep the room clean

-  snax?
  - maybe this with lunch could be helpful?

- dinner?
  - maybe?

[2019-09-13 01:45] BarkleyBG opened #57 "Announce October Hack Night?"
What information do we need to broadcast?

- location?
- speaker?
- Meetup link?

[2019-09-13 02:03] BarkleyBG opened #58 "Figure out how to get live microphone broadcasting!"
@Aycrazy

- needs to be live
- UWM speaker cabinets are locked

[2019-09-13 02:13] BarkleyBG opened #59 "Determine how to introduce the Hack Day (?) meetups?"
We are interested in meeting 2x per month. Informally we will call them Hack Day's for now.

We need to decide on what day we should hold them on. Thursday nights? Sunday mornings? So, to decide on the best day, should we poll our members at HN 4.1 and NDOCH?

I will setup a poll to put out at the NDOCH and HN4.1

[2019-09-13 02:20] BarkleyBG opened #60 "Add a schedule of info to the meetup for NDOCH"
Also, blast out another:
- tweet
- insta
- slack chat on MKE
- slack chat on CFA

with the meetup link. Mention that we have updated the schedule. (@anthonyjesmok let me know if you have questions about details here)

[2019-09-13 02:23] BarkleyBG opened #61 "Start a tweet at NDOCH that goes viral between brigades"
At the beginning of NDOCH, send a tweet out :
- with a picture of our members
- tag 3 other brigades
- ask 3 other brigades to tag 3 other brigades

sound ok?
HEY @romkedehaan  im going to ask you to do this

[2019-09-13 02:29] BarkleyBG opened #62 "Schedule Core Team strategy meeting before HN5"
Thinking October 8th-10th?

[2019-09-13 14:20] mitchellhenke commented on #56
For hack & tell breakfast we usually get the bagel, bakery, muffin, and pastry platters, and a cambro of coffee from Colectivo

[2019-09-13 16:07] Aycrazy commented on #60
Location: UWM School of Architecture & Urban Planning - 2131 E Hartford Ave · Milwaukee, WI

Speakers:
- Lightening Talks:
    - Joe Peterangelo - [Wisconsin Policy Forum](https://wispolicyforum.org/staff-board/) -- find him in the page
    - Cameron Malakai
    - Nadiyah Johnson - (GE Healthcare/Jet Constellations)[https://www.bizjournals.com/bizwomen/news/profiles-strategies/2019/01/nadiyah-john

[2019-09-13 20:26] Aycrazy commented on #55
Ask if there are funds for team-bonding?

[2019-09-13 21:34] Aycrazy commented on #60
Check out https://www.rokkincat.com/hack-n-tell/ for the hacking portion schedule and adapt

[2019-09-14 03:42] anthonyjesmok commented on #58
Architecture 170 is a lecture hall fitting approximately ~200 people.

On Thu, Sep 12, 2019 at 9:35 PM Brian G. Barkley <notifications@github.com>
wrote:

[2019-09-15 18:23] Aycrazy commented on #57
@romkedehaan can you follow up with manpower ppl?

[2019-09-15 18:24] Aycrazy commented on #58
@BarkleyBG  any updates on friend's mics?

[2019-09-15 18:27] Aycrazy opened #63 "Identification Stickers"
We will decide how to use those dot stickers:

Tentative plan

- blue  - just checking it out (this could be supplement to another color)
- green - software developer
- yellow - data specialist
- red - marketing
- other color - community organizer/content expert

[2019-09-15 20:35] anthonyjesmok commented on #21
The description for the September meetup has been updated. We had the waiver in previous meetup slides in the beginning, so I do not feel it is necessary for us to go back and update meetup details. The takedown information has been added. If all is satisfactory @BarkleyBG please close.

[2019-09-15 20:38] anthonyjesmok commented on #56
@erinmagennis is talking to GMC on Wednesday, so @Dannycap if you could have any further information they will need for that that would be helpful.

[2019-09-15 20:47] anthonyjesmok commented on #17
Let's revisit this for October strategic planning. If we need, or desire, anything similar for NDOCH, please let me know.

[2019-09-15 20:48] anthonyjesmok commented on #62
That works for me.

[2019-09-15 20:49] anthonyjesmok commented on #62
Wednesday and Thursday typically work best. Will be gone Friday of that week.

[2019-09-15 20:49] anthonyjesmok commented on #38
This looks good to me.

[2019-09-16 02:36] BarkleyBG commented on #58
My friend’s mics will not be able to carry that room, I think. I can ask. How many people do you think we will get, maybe 50?

[2019-09-16 02:37] BarkleyBG commented on #38
I haven’t read it. If y’all are happy then I trust you & we can ship it.

[2019-09-16 16:24] anthonyjesmok commented on #58
I think 50 will be fine.

On Sun, Sep 15, 2019 at 9:36 PM Brian G. Barkley <notifications@github.com>
wrote:

[2019-09-17 15:01] BarkleyBG commented on #59
How does this poll look? https://docs.google.com/forms/d/1HRH8-FqQsIZmLJ4TwYgHVCOo_XVKB6Wu_wlPdgXkxdk/edit

[2019-09-17 16:21] BarkleyBG commented on #59
Added that poll to the slide deck. closing this. We may need to edit but it's shippable.

[2019-09-17 16:21] #59 closed

[2019-09-17 16:23] BarkleyBG commented on #58
Possibility: An acoustic guitar amp that has an independent microphone amplifier channel, normally used for vocals. It may suffice in something up to a mid size lecture hall. It would not be powerful enough for an auditorium. Also, only one microphone input. So, you can't do an amplified QA session without passing the mic back and forth.

[2019-09-17 17:21] erinmagennis commented on #46
Just heard back from Bridge the city - they would love to partner with us on an event - they are scheduling out podcast times into oct/nov so no-go for short notice presence - they will promo ndoch though

[2019-09-17 23:01] #21 closed

[2019-09-18 23:46] BarkleyBG commented on #62
Scheduled for Oct 9th, Weds.

[2019-09-18 23:46] #62 closed

[2019-09-19 12:05] #60 closed

[2019-09-19 12:08] Aycrazy opened #64 "Name cards for NDOCH speakers"
We'll need printed out "name tents," preferably on cardstock

[2019-09-19 15:15] BarkleyBG commented on #64
I’ll try to get this done today, but don’t know if I can squeeze it in by tonight. I can’t attend on Saturday.

[2019-09-20 01:42] BarkleyBG opened #65 "Add link to website from the meetup page"
We need to make it easy to get to our website

[2019-09-20 01:43] BarkleyBG opened #66 "Reorganize Hack Night schedule for more hacking?"
### High-level goals

- Introduce basic info about CfM and HN's
- Provide 20-30 minutes for a speaker
- Have lots of time for open hacking
- things to avoid:
   - rushing the speaker to finish too quickly
   - scheduling the speaker too close to 6pm so stragglers miss it
   - getting to hacking too late

### Suggestions:

1. Let’s move the new member orientation until after the introduction of bre

[2019-09-20 01:56] BarkleyBG commented on #58
I can’t get the acoustic mike for Saturday. Sorry. We may have to go without.

[2019-09-20 13:46] Aycrazy commented on #66
mitchellhenke 8:44 AM
I think future hack nights should make more time for open time for hacking. Had a couple people mention it to me and I agree. One had to leave by 8 and was disappointed they didn’t get much time to work on stuff with everything else beforehand

[2019-09-20 13:59] anthonyjesmok commented on #66
Draft Schedule, please let me know your thoughts.

6:00 to 6:15 - Arrival, Registration, Food Service
6:15 to 6:25 - Welcome from Code for Milwaukee
6:25 to 6:45 - Presentation (Save Questions for Q&A)
6:45 to 6:50 - Presentation Q&A
6:50 to 7:00 - Breakout Group Introductions
- Speaker will have a breakout group for discussing their presentation, ideas, detailed questions, etc.
- New breakout gro

[2019-09-20 14:12] mitchellhenke commented on #66
I think we should be more aggressive and aim to start hacking by ~6:30-6:40

Is it possible to have doors open at 5:45, shorten welcome, and perhaps introduce existing working groups on a presentation slide? The person leading the group can wave so anyone interested can find them to discuss further. Any new working groups would still verbally introduce themselves.

[2019-09-20 14:14] anthonyjesmok commented on #66
My thoughts on starting before 6 would involve people who are further out
(like Kohl's and NM in Franklin) and need to get through rush hour traffic
to make it over to the event.

On Fri, Sep 20, 2019 at 9:12 AM Mitchell Henke <notifications@github.com>
wrote:

[2019-09-20 14:27] Aycrazy commented on #66
To @mitchellhenke's suggestion about existing groups. I think that can work alright, if we can get ppl to view videos and the github issues page for a project independently. --> Please help to think about how we can make that something people do (this is hard)

I also mentioned having **orientation recorded**, this will free up time for ppl to network at the beginning if they already watched a rec

[2019-09-20 15:47] Aycrazy opened #67 "Create a digital program and way of easily giving people access to that program"
How ppl will access:
- Qr code
- bit.ly link

Content:
- mission, goals, values
- schedule
- current projects
- project spotlight?
- rules of the working space (physical and cultural)
- code of conduct
-....

[2019-09-20 15:48] Aycrazy commented on #67
I feel like @romkedehaan should get in on this, pending his availability and other commitments

[2019-09-20 20:53] BarkleyBG opened #68 "Partnership with IHE?"
we'd need a business plan and need to tie it to the mission of the Institute.

[2019-09-20 20:55] BarkleyBG opened #69 "Wish List for $$ stuff"
Let's work with @Dannycap  to start a "wish list" of things that cost money so we can come up with good reason to apply for grants when they come up

[2019-09-20 20:56] BarkleyBG commented on #69
adding suggestions in an edit.

[2019-09-20 23:40] romkedehaan commented on #67
Can we get more details on this? Is someone in charge of making copy? We should reach out to the rest of the community to help.

[2019-09-21 13:30] Aycrazy commented on #67
@romkedehaan It's assigned to Anthony and Erin, see assignments. When you say "make copy," what do you mean? The idea is it is digital, perhaps we can print some for those who have issues with tech. We can definitely reach out to the rest of the community. Please include the ways you think we can do this and create a timeline for the actions

[2019-09-21 20:19] anthonyjesmok commented on #67
@Aycrazy Romke means who is going to write the text for this?

@romkedehaan The purpose of this idea is to consolidate some information we usually go over during our welcome presentation (venue information, bathrooms, policies, how to start a breakout group, agenda, etc.) into a digital flyer (like a markdown file on GitHub). This means people can read this information before or when they arrive,

[2019-09-21 20:23] anthonyjesmok commented on #66
Having the orientation recorded would be a great idea. It would mean we would only have to reserve one room and can have all core team members focused at the same time. People can also complete a quiz on orientation when they are done and formally register to be a CfM member.

[2019-09-21 20:27] anthonyjesmok commented on #65
Added to Meetup page, along with social media links.

[2019-09-21 20:27] #65 closed

[2019-09-21 20:49] #64 closed

[2019-09-21 20:50] anthonyjesmok commented on #56
Food was delicious and plentiful. We need to remember a vegetarian issue for next time as we were unable to serve one individual due to muffins containing eggs.

[2019-09-21 20:50] #56 closed

[2019-09-21 20:50] #42 closed

[2019-09-21 20:54] #54 closed

[2019-09-21 20:54] #38 closed

[2019-09-21 20:55] anthonyjesmok commented on #29
I implemented a connection for the PFC and Hack Night planning repos. You can add more using the command `/github subscribe REPO_NAME`

[2019-09-21 20:55] #29 closed

[2019-09-21 20:58] anthonyjesmok commented on #19
We have interest in having speaking engagements from Cameron and Rebecca at Milwaukee County Drug Court. When can we fit them in?

[2019-09-21 21:00] #2 closed

[2019-09-21 21:00] anthonyjesmok commented on #2
For when we need to reorder. https://www.amazon.com/gp/product/B07CR6ZBWH/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

[2019-09-21 21:18] BarkleyBG commented on #61
Erin sent out an awesome tweet!

[2019-09-21 21:18] #61 closed

[2019-09-22 14:49] #58 closed

[2019-09-22 14:50] #52 closed

[2019-09-22 19:28] #47 closed

[2019-09-22 19:28] #46 closed

[2019-09-22 19:29] Aycrazy commented on #40
I think we should change the topic of this issue

[2019-09-22 19:32] Aycrazy opened #70 "Write thank you template for event speakers"
We can make an adaptable thank you email template. We need to thank speakers from the last (2?) Hack nights and NDCOH. I will post a doc with some of my past thank yous here later. That said, if anyone wanted to get started, don't let the doc link posting delay you.

[2019-09-22 19:33] Aycrazy opened #71 "List of food vendors and items that would meet various dietary needs"
Be great to be more prepared for food orders.

[2019-09-22 21:03] BarkleyBG commented on #70
Beyond just a “thank you”, what else should we communicate in this letter? Should we attempt to tie their actions to our mission statement?

For example, “thank you for speaking at our event; it’s important because people now are even more excited and motivated to help improve Milwaukee through civic tech and (your initiative)”

[2019-09-22 22:18] Aycrazy commented on #70
That sounds great!! And something about how we want to continue the collaboration or partnership in some relevant and specific way

[2019-09-23 10:55] #36 closed

[2019-09-23 10:57] Aycrazy opened #72 "Initial thanks to NDOCH attendees"
W/ info for how to give feedback and info on next hack night. This one can be really short and simple

[2019-09-23 13:23] Aycrazy opened #73 "NDOCH Feedback Forum"
Hey @anthonyjesmok. I looked at this a bit, and it seems it'd be difficult to draft questions together.  Since I am going to Brigade Congress and can provide some feedback there, do you think you can take care of this?

Take the quick 2-minute survey here: http://c4a.me/ndoch-survey
Share you photos and videos here: http://c4a.me/ndoch-folder

[2019-09-23 13:25] Aycrazy opened #74 "Next Hack N' Tell October 26th"
Partner with Rokkin Cat? --> help provide an optional theme?
Help Mitch day of?
Prepare groups that my want to attend, so that they can have a productive work day?

[2019-09-23 14:02] Aycrazy opened #75 "Find out when Dr. Kowalik can present"
Let's take advantage of the fact we had her booked once ;)

[2019-09-23 14:16] anthonyjesmok commented on #73
Photos uploaded, survey complete!

[2019-09-23 14:16] #73 closed

[2019-09-23 14:19] BarkleyBG commented on #66
I'm not sure if I've thought about a videotaped orientation. I would certainly like some help in plotting out a short script for that if we go in that direction

[2019-09-23 14:19] anthonyjesmok commented on #49
We cannot submit for this until we have a venue locked down.

[2019-09-23 14:19] BarkleyBG commented on #72
Code for America sent out an email from our meetup (without us knowing) soliciting feedback on their form (which will be sent to us with results) and thanking people for attending. I can send a follow-up.

[2019-09-23 14:23] anthonyjesmok commented on #66
@BarkleyBG @Aycrazy @mitchellhenke @romkedehaan @Dannycap @erinmagennis

I feel we need to call this to a vote. Please react with a thumbs-up or thumbs-down emoji (using the +:) button above).

I move that we should:
1. Move orientation to a pre-recorded format that can be accessed via YouTube or another video platform.
2. Implement #67 for October hack night as a consolidated way to share venue i

[2019-09-23 14:38] BarkleyBG commented on #66
I think we should plan out what this new precanned orientation would look like, and then cote if we want to go with the new precanned version

[2019-09-23 14:39] romkedehaan commented on #67
@Aycrazy By make copy, I mean who's writing up all the content? I can help make it look great!

[2019-09-23 14:48] Aycrazy commented on #67
A combo of me, you, and @anthonyjesmok  most likely

[2019-09-23 14:55] romkedehaan commented on #66
Can we do have a working group around it?

On Mon, Sep 23, 2019 at 9:38 AM Brian G. Barkley <notifications@github.com>
wrote:

[2019-09-23 16:45] Aycrazy commented on #72
Can you please include this link to Joe Peterangelo's presentation? https://drive.google.com/file/d/0B7Hc7Ui-lOrwRDk3bXpqejY3Mjh3SFFrSWhWX3FSbk5EY1Qw/view?usp=sharing

[2019-09-23 19:44] Aycrazy commented on #72
React Traning info:  Code for Milwaukee members can use CodeForMKE for a free ticket:
https://www.eventbrite.com/e/building-your-first-react-app-tickets-73364488159

[2019-09-23 19:44] Aycrazy commented on #70
React Traning info: Code for Milwaukee members can use CodeForMKE for a free ticket:
https://www.eventbrite.com/e/building-your-first-react-app-tickets-73364488159

[2019-09-23 19:52] BarkleyBG opened #76 "setup benevity account"
this one's mine

[2019-09-23 20:38] BarkleyBG opened #77 "Arrange for help in CfM Event logistics"
Let's reach out to some friends who can help us determine questions like:
- where can we have an Event (like a Hack Night)
- who can speak
- what kind of food
- $ for food
- etc

[2019-09-24 14:06] BarkleyBG opened #78 "Setup amazon smile charity?"
Small increments can go a big way to helping us

[2019-09-24 14:07] Aycrazy commented on #78
Somehow would need to rig this up so that we get earmarked in smile donations to CFA

[2019-09-24 14:09] BarkleyBG commented on #78
1. CfA is on amazon smile.
  - we may be able to earmark this for CfM.
2. CfM is not.

---
**Amazon smile rules**, https://org.amazon.com/
Get Started
How do I register and receive donations for my charitable organization?

Registering your organization is easy. In order to register and receive donations, you must be an official representative of an eligible organization, and then follow these eas

[2019-09-24 14:28] BarkleyBG commented on #78
not possible.
The smile donation platform thing is only good for one EIN and there’s no way for to earmark it to a certain brigade

[2019-09-24 14:28] #78 closed

[2019-09-24 14:48] BarkleyBG commented on #66
Let's start to compile our thoughts in this document. We should consider what we want in these two items, and how we can do them.
https://docs.google.com/document/d/157EWI1xyPzwiNwpnuXeBCx3dzknp13Uwvh9--2JTZoo/edit#heading=h.8evjuh8ec5yx

[2019-09-24 14:48] BarkleyBG commented on #67
Let's start to compile our thoughts in this document. We should consider what we want in this item
https://docs.google.com/document/d/157EWI1xyPzwiNwpnuXeBCx3dzknp13Uwvh9--2JTZoo/edit#heading=h.8evjuh8ec5yx

[2019-09-24 15:21] BarkleyBG opened #79 "Improve our financial infrastructure?"
Now that CfM is off and running, we ought to consider improving our financial infrastructure. I have concerns that our current system may not be sustainable in the long term (that is, I dont know how many community members are interested in paying $$ for our food at Hack Nights).

Laid out below are some goals, and some ways we can go about achieving them. I think this would be a large project, an

[2019-09-24 15:49] Aycrazy opened #80 "Create system to mail merge thank yous"
Because i dont remember all the things

[2019-09-24 15:57] anthonyjesmok commented on #70
It looks like this was taken care of? How can I help further?

On Mon, Sep 23, 2019 at 2:44 PM Andrew Yaspan <notifications@github.com>
wrote:

[2019-09-24 16:09] Aycrazy commented on #70
Think we're good!

[2019-09-24 16:09] #70 closed

[2019-09-24 19:17] Aycrazy opened #81 "Create a presentation for Data Day Ignite"
Hi Andrew,

We're happy that you expressed an interest in presenting at Data Day!  I want to check in with you on it to make sure you're still available and interested, and let you know about our practice sessions.  As a reminder, it's Tuesday, October 22nd at the Northwestern Mutual’s Cream City Labs, 733 N Van Buren St.

The format for a 5 minute IGNITE is to present using a set of 20 slides, wh

[2019-09-24 19:38] Aycrazy opened #82 "Thank You Email Template to sponsors"
Don't have to worry about Amanda this time around (I already sent her something), but we need to have a template for these thank yous can @Dannycap and/or @anthonyjesmok  draft his up for review?

[2019-09-24 19:47] BarkleyBG commented on #81
This is different from #33 right?

[2019-09-24 19:50] Aycrazy commented on #81
It's a subtask

[2019-09-24 22:07] Aycrazy opened #83 "Nadiyah's Tech for Good Pitch Out 11/17"
I know she needs team "mentors"/helpers at least. @anthonyjesmok  and @romkedehaan  have been in touch with her about the event. I'll let them add more

[2019-09-25 22:24] erinmagennis commented on #79
If we want pro-bono legal counsel in setting up a 501c3 (and anything else) and are down with having an upperclassmen with attorney prof oversight - Marquette Law Clinic and Madison Law/Entrepreneurship Clinic could be options to pursue.

If so, it will be beneficial to have a more solid business plan thought through/sustainable funding pipeline before we ask for their help.

[2019-09-26 00:45] #83 closed

[2019-09-26 00:46] Aycrazy opened #84 "Help Nadiyah to Staff the Tech for Good Event"
I know she needs team "mentors"/helpers at least. @anthonyjesmok and @romkedehaan have been in touch with her about the event. I'll let them add more

---
event info
- link: https://www.eventbrite.com/e/the-milky-way-tech-for-good-pitch-out-tickets-73061319373

- Date And Time
Sat, November 16, 2019
6:00 PM – 8:00 PM CST

- Location:
88 Nine Studios
220 East Pittsburgh Avenue
Milwaukee, WI 53204

[2019-09-28 15:18] BarkleyBG opened #85 "Find new Treasurer"
@Dannycap is riding off into the sunset on October 8th after putting in great work to set up the CfM finances. We will need to replace him.

Suggested next steps:
- [x] Draft up a notice of open Treasurer position
     - This should lay out the goals and responsibilities of position as it currently is
     - This should also mention that the applicant should be prepared to work with #79 if we go t

[2019-09-28 15:25] Aycrazy commented on #85
I think this is solid. I'd like to add that we have a more detailed list of the socials we are posting in and who is responsible for posting it to each/replying to questions, reposting, having partners repost, etc

[2019-09-28 18:25] BarkleyBG commented on #85
Let’s have all the advertisements say to “email XX for more information”

Who is XX? Andrew?

We could also post more detailed info on our website and link there...

[2019-09-29 02:37] Aycrazy commented on #48
Pinging this. Otherwise we should let ppl know who we are at each hack night. Ppl don't automatically know who makes up the core team

[2019-09-29 02:54] anthonyjesmok commented on #48
I like the vest idea still. Cost effective, transferable, and highly
visible.

On Sat, Sep 28, 2019 at 9:37 PM Andrew Yaspan <notifications@github.com>
wrote:

[2019-09-29 20:48] anthonyjesmok commented on #85
I would say we post more information on our website and have applications go to the core-team email address for evaluation, just so we're in the loop in terms of all those applying and can review profiles as they come in.

[2019-09-29 20:51] anthonyjesmok commented on #72
This is done - thank you @erinmagennis for sending out the email!

[2019-09-29 20:51] #72 closed

[2019-09-29 21:08] anthonyjesmok commented on #84
I'm meeting with Nadiya and the planning group on Friday and will discuss what she needs from us to make the event a success.

[2019-09-29 21:27] anthonyjesmok commented on #80
@erinmagennis Is there a way we could use MailChimp for this?

[2019-09-29 22:40] Aycrazy commented on #84
pls have some meeting notes for what comes out of the meeting on Friday/any questions you have for the group/ regarding CFA.

[2019-09-29 23:00] anthonyjesmok commented on #82
Do we still need this?

[2019-09-30 00:12] Aycrazy commented on #82
Yes. Never had a template. Definitely an initial task of new financial lead

[2019-09-30 05:01] erinmagennis commented on #80
There's a way to use MailChimp for almost anything we would need email related. It just depends on how much time we want to spend setting it up/is it worth that time. What exactly are we needing to do here?

[2019-09-30 05:02] erinmagennis commented on #63
We got stars instead of dots, because everyone is a star.

[2019-09-30 05:02] #63 closed

[2019-09-30 15:03] BarkleyBG opened #86 "Get more responses for Hack Day event planning"
We want input on whether & how to host a 2nd monthly event. Our poll does not have enough responses.

link: https://forms.gle/oRmDMkzywKDLJJz86

- [ ] ask people to fill it out at HN5 - october
- [ ] spam out on the socials?

[2019-09-30 15:04] BarkleyBG commented on #57
Meetup is up: https://www.meetup.com/Code-for-Milwaukee/events/265078937/

[2019-09-30 15:04] #57 closed

[2019-09-30 15:05] BarkleyBG opened #87 "Announce Nov's HN6 at Oct's HN5"
Things we can/should do:
- [ ] create a meetup event, even if location is TBD
- [ ] add a slide to our presentation deck

[2019-09-30 15:11] BarkleyBG opened #88 "Determine what our goals are for reporting - do we need a Reporting Committee?"
What kind of reporting do we want to do?

For example, we could write up short summaries of the events we do. In #10 we talked about blogging. And @erinmagennis has been doing a great job of writing up a summary email.

---
Reasons why reporting is important
- We need to report what we did in these great post-Hack Night summary emails
- We can also write up quarterly summaries of events and activi

[2019-09-30 15:12] BarkleyBG commented on #10
This is stale. Plus now we've started a bigger conversation in #88 . so i'm closing this.

[2019-09-30 15:12] #10 closed

[2019-09-30 15:14] BarkleyBG commented on #11
@erinmagennis

- we have been doing better at logging attendance, i think.
- Do we have any particular concerns at this time?
   - if so, should we file a new issue, or list them under this issue?

[2019-09-30 15:26] BarkleyBG commented on #85
Starting to work on the posting. We should say:

- looking for a treasurer. Unpaid / volunteer. CfM is nonprofit, and considering possibility of becoming 501c3 or other protected status.
- Estimated hours: Often 10-20 hours in a typical month, but can be as low as 1 hour if you help us to get our finances in order.
- responsbilities:
   - Current state: $ for HN food. Often help in ordering and pi

[2019-09-30 15:33] BarkleyBG commented on #84
@anthonyjesmok were you able to make the meeting on Friday? Any updates?

[2019-09-30 15:34] anthonyjesmok commented on #84
It's this Friday.

On Mon, Sep 30, 2019, 10:33 AM Brian G. Barkley <notifications@github.com>
wrote:

[2019-09-30 15:35] BarkleyBG commented on #50
I'm moving this to November since we have a lot of things to do for HN5 - Oct.

Also, this seems very related to #88

[2019-09-30 15:37] BarkleyBG commented on #49
@erinmagennis When is the deadline for us to get listed on the WI STEM Fest website?

[2019-09-30 15:44] BarkleyBG commented on #11
Moving to November so that we can attempt to tackle the goal: "2. keep in touch with interested community members."

[2019-09-30 23:24] BarkleyBG commented on #66
We will plan to discuss this in Wednesday’s phone call.

[2019-10-01 13:09] Aycrazy opened #89 "Write emails to ask breakout group leaders if they would like to pilot Proj Facilitation"
I think we should consider recruiting a breakout group or 2 to try the project facilitation stuff and MOCHA

[2019-10-01 13:42] #3 closed

[2019-10-01 13:43] Aycrazy commented on #12
redundant issue

[2019-10-01 13:43] #12 closed

[2019-10-01 14:23] BarkleyBG commented on #85
We can use wording similar to what we used for the original posting for Core Team back when we formed: https://docs.google.com/document/d/1GpmFHwV-WcjI6tcf0u0falYANGWCpiRm4vwJArOjkhI/edit

[2019-10-02 23:50] Aycrazy commented on #66
How to earn your membership badge --> whatever physical form it takes
- At least showing that you completed the interactive portion of the orientation

[2019-10-03 18:25] Aycrazy commented on #66
Draft to be posted for Meetup until we finalize:

6:00 to 6:15 - Arrival, Registration, Food Service
6:15 to 6:20 - Welcome from Code for Milwaukee
6:20 to 6:40 - Presentation (Save Questions for Q&A)
6:40 to 6:45 - Presentation Q&A
6:47 to 6:57 - Breakout Group Introductions
New members need to attend Orientation in a separate space before starting to contribute to CfM.
Speaker will have a breako

[2019-10-03 18:36] Aycrazy opened #90 "Discern Involvement in upcoming Political Open Mic with BTC and Newaukee in November"
Email from Rita DeMerit -- I think Mitch knows her? ;) --  from Newaukee

Hello again!

We met with our Political Open Mic team earlier this week to start sorting out details for the November event. Since it's falling during Startup Week, we're going around a tech theme focusing on privacy, policy, and public investment. Code for Milwaukee came up in our conversations, specifically around tech equ

[2019-10-03 19:47] anthonyjesmok commented on #66
Updating:

6:00 to 6:15 - Arrival, Registration, Food Service
6:15 to 6:20 - Welcome from Code for Milwaukee
6:20 to 6:40 - Presentation (Save Questions for Q&A)
6:40 to 6:45 - Presentation Q&A
6:45 to 7:00 - Breakout Group Introductions
New members need to attend Orientation in a separate space before starting to contribute to CfM.
Speaker will have a breakout group for discussing their presentat

[2019-10-05 00:12] anthonyjesmok commented on #84
Requests from Nadiyah
1. Use e-mail to send out link to application form to CfM membership in advance of deadline on October 10th. October 17th Hack Night in-person promotion will be too late.
2. Create Ad Hoc Meetup event for event to attract membership to the event and increase footprint.
3. Send logo for sponsorship list.

[2019-10-07 16:06] Aycrazy commented on #90
Getting more details from Kyle Hagge this afternoon.

[2019-10-07 16:07] Aycrazy commented on #89
Let's set the deadline for a draft this one to be a day before the next email (reminder about hack night) goes out -- Is that Sunday @erinmagennis ?

[2019-10-07 16:08] Aycrazy commented on #84
Haha I've sent the logo to her at least 3 times

[2019-10-07 16:10] Aycrazy commented on #85
How are we feeling about the state of the current description @BarkleyBG ?  When do you we want to start spreading the word about the opportunity?  What's the socials/general outreach plan @romkedehaan? Also, should we tell Max about the opp informally (soonish)?  Do we want to give him that advantage?

[2019-10-08 19:57] erinmagennis commented on #49
I just submitted it through the website's form.

[2019-10-08 19:57] #49 closed

[2019-10-08 20:00] erinmagennis commented on #89
Do we have a list of the breakout groups and the leaders?

[2019-10-08 21:12] Aycrazy commented on #89
https://codeformilwaukee.org/breakout

Census - Valeria Cerda  - valeria@wisconsinvoices.org

Adopt-A-Drain - Sweet Water/Ali Woodruff - woodruff@swwtwater.org

Decarceration Platform - Paul? Romke?

Milwaukee Snow Angels (ON HOLD) - Dr. Terry Burant - burrantterry@gmail.com

ARTIO - Kirsten Helgeson - kirsten.helgeson@gmail.com

Good Fight (not sure where Ray is on everything) - Ray Roberts - ray

[2019-10-09 18:44] Aycrazy commented on #81
@mitchellhenke is gonna take this one!

[2019-10-10 00:35] Aycrazy commented on #85
Create a separate page for this opp and refer to it on the landing page

[2019-10-10 00:44] BarkleyBG commented on #41
donezo https://www.meetup.com/Code-for-Milwaukee/events/265078937/

[2019-10-10 00:44] #41 closed

[2019-10-10 00:49] anthonyjesmok commented on #48
Team decided on light-up lanyards: amazon.com/gp/product/B076D4QLXN/ref=ox_sc_act_title_1?smid=A1DSFN25ZPZTQI&psc=1

[2019-10-10 00:50] #48 closed

[2019-10-10 00:51] BarkleyBG opened #91 "Pass on knowledge from Treasurer position"
List of things we need to be able to pass on & cross-train
- [ ] logins and passwords
- [ ] links to CfA docs
- [ ] important community connections for CfM
- [ ] all current receipts
- [ ] documentation on how to use the bank account

@Aycrazy  is referencing something about #55 but im unsure how it fits

[2019-10-10 01:02] anthonyjesmok commented on #74
Promote as a community event during announcements and email for HN5, along with Romke's Space Apps hackathon on the 19th.

[2019-10-10 01:03] BarkleyBG opened #92 "Determine a permanent location for archive of digital programs"
We need to determine a place to permanently archive our digital programs (#67) that people can easily access.

Maybe just a page on our website? (@@website crew)

[2019-10-10 01:03] BarkleyBG commented on #92
Hey, should we start a Website Committee? I bet there are people who would like to practice their webdev skills and could help us with some of these things.

[2019-10-10 01:08] BarkleyBG commented on #67
@anthonyjesmok  here's the link to our orientation slides. We plan to update them to make them more digital-friendly, but these will be a-okay if we have no other option for October

[2019-10-10 01:18] BarkleyBG opened #93 "Food for October hack night"
funding
- [x] determine funding
- [ ] secure funding ($ in account)

food
- [x] determine where to get food
- [ ] determine what we want to order
- [ ] call ahead to ask if they can do that

drinks
- [ ] determine what soda/water to provide

execution
- [ ] place order
- [ ] pay for order
- [ ] arrange for pickup
- [ ] also bring:
     - [ ] napkins
     - [ ] plates
     - [ ] utensils

(This iss

[2019-10-10 01:20] BarkleyBG commented on #93
- andrew will get $ from CfA
- Meat on the Street

[2019-10-10 01:22] BarkleyBG opened #94 "Update orientation slides for Digital Program"
Related to #67

Suggestions for orientation slides:
- better signage in intro/outtro on "heres what we want you to learn in the orientation"
- crisper & cleaner
- Orientation slides suggestion: let’s open an GH issue every Hack Night asking “who’s here?” And have people comment on it. Commenters get stickers.

[2019-10-10 01:23] BarkleyBG commented on #86
@anthonyjesmok  can we throw this onto a slide for the Hack Night? And then maybe we can leave it up during the hacking portion?

[2019-10-10 21:17] Aycrazy opened #95 "Create SMART Goals for Project Facilitation Pilot"
I'm 85% sure (just because I haven't gotten a response yet), that the [Census group](https://github.com/codeformilwaukee/breakout-groups/issues/6) will be piloting MOCHA and project facilitation.  We want to be able to measure the success/establish baseline for how this goes.  @erinmagennis (w/assistance from @Aycrazy) has been tasked with taking a first stab at making SMART goals for this pilot.

[2019-10-10 21:17] Aycrazy commented on #89
We will return to this.  Current task will be : https://github.com/codeformilwaukee/hack-night-planning/issues/95

[2019-10-11 15:42] erinmagennis commented on #95
At October’s hack night we will learn how long it takes them to complete the project facilitation guide, get qualitative feedback and a ranking of perceived helpfulness on a scale of 1-10 from 3 people/roles, and capture the explicit next steps in a simplified manner for us (core team).

By the end of October, we will make appropriate edits to any of the guides so it can be rolled out in November.

[2019-10-11 19:50] BarkleyBG opened #96 "Should we enumerate Hack Nights in 2020?"
Right now we informally refer to Hack Nights as "Hack night 6 - Nov". Would it be helpful to enumerate them by month, starting in the year 2020? E.g., "January Hack Night 20-1" and "Feb HN 20-2" or something?

[2019-10-11 19:55] Aycrazy commented on #96
I like it

[2019-10-11 21:24] erinmagennis commented on #96
That'll be helpful. I keep forgetting what number we are on. (Does anyone know?) I've given up counting at this point...

[2019-10-12 17:51] BarkleyBG commented on #96
(@ erin ) October is supposedly our 5th total. January should be our 8th, or reindexing to 20-1.

[2019-10-12 17:52] BarkleyBG commented on #89
(andrew points out that GH issues aren't great if one issue depends on another. This is maybe where we could use the Projects functionality or a different tool altogether)

I'm moving this to the PFC milestone

[2019-10-12 18:43] BarkleyBG opened #97 "Create page on website for sharing position postings"
I think this would work well as a subpage like `https://codeformilwaukee.org/join_us` or something. Ideally, we could have multiple postings at the same time, where each could be directly linked to the posting: `https://codeformilwaukee.org/join_us#treasurer` or `https://codeformilwaukee.org/join_us#websitemanager`.

---
urgent:
I hope we could get a quick-and-dirty version up this weekend so we c

[2019-10-12 18:44] BarkleyBG commented on #97
If one of you web people could post a page with a Lorem Ipsum, I could put a PR in with the content for treasurer as soon as that's settled.

[2019-10-12 18:47] BarkleyBG commented on #76
Yoooo good news! I might be able to get some volunteers from Kohl's to help us at a future hack night!

[2019-10-12 18:47] #76 closed

[2019-10-14 05:29] Aycrazy commented on #97
Hidden position page: https://codeformilwaukee.org/join-us

[2019-10-14 19:42] Aycrazy commented on #97
Not hidden. Up

[2019-10-14 19:42] #97 closed, assigned to nobody

[2019-10-17 03:31] erinmagennis opened #98 "$$$/Partnership/Project - from on the table mke due oct 31"
http://onthetablemke.org/ideas-to-action/?fbclid=IwAR01bwywOnQD2qF5bF7bOzxip5PBwJsbxPvuj1gM2BpGXwMsri_7qmuoz-k

I didn’t go to any of them, did any of you? Even if not we could offer out to any groups looking for partners.

[2019-10-18 00:00] BarkleyBG opened #99 "Improve these things from HN5"
- email project leads one week prior and ask for what they need, and if they’re attending
- describe Mocha framework
- print awesome big signage
- start Web Cmte and Logging Cmte
- Tell speakers theybhave 20 mins, and give them 5 minute warning.

[2019-10-18 00:46] BarkleyBG commented on #99
- Duplicated email field on orientation poll

[2019-10-18 00:47] BarkleyBG commented on #99
Walkthrough orientation slides ourselves and see how well it goes. Whole core team

[2019-10-18 00:47] BarkleyBG commented on #99
Put all of our links in one easy to find spot!!!

[2019-10-18 00:59] BarkleyBG opened #100 "Form a scoping committee for Adopt A Drain"
@erinmagennis can you help to find 1-2 people who can help facilitate scoping for Adopt a Drain?

They have some data, and some idea of what they want at some date range.

I think we can work with them and Mitch to build a team, scope, and hit ground running next Hack night.

[2019-10-18 01:57] BarkleyBG commented on #99
Perhaps we should require all projects to send us an update/recap of what they did that HN?

[2019-10-18 02:02] BarkleyBG commented on #99
Start project wrap ups at 830pm so that everybody can leave by 9?

[2019-10-18 02:16] BarkleyBG commented on #99
Breakdown

- decarceration needs UX and some other people. Perhaps Brew City UX people vía Serene Míreles?
- setup a project plan for how to make signage

[2019-10-18 02:33] BarkleyBG commented on #99
It would also be nice to have a social media person to send out a couple of tweet the gram every week so that we don’t have to think about doing

[2019-10-18 03:00] Aycrazy commented on #99
This exists https://docs.google.com/document/d/13hkf7db_WLQz1erHdWOoBlL24g3eEmOpUR-IiLNMDio/edit?usp=drivesdk

[2019-10-18 03:44] Aycrazy commented on #99
I think we need to have some guidance on the right way to do attendance too.  I think we can make enhancements to the system going forward

[2019-10-18 15:50] Aycrazy commented on #98
Let's discuss at our next meeting. Application deadline is October 31st

[2019-10-19 01:15] BarkleyBG opened #101 "Get a big card and have people sign it to say thank you for sponsoring food?"
It would be neat to present 40 signatures on a card to the food sponsor

[2019-10-19 04:13] anthonyjesmok commented on #99
My suggestions based on what I'm seeing here:

1. Politely remind speakers of expectations before they present at the event in-person just to refresh their minds
2. Establish rules for keeping an active CfM-supported project. Two rules I would propose is that one group member must remain present to give updates at the end of the hack night, and the other being that a project is marked "inactive" i

[2019-10-19 11:11] Aycrazy commented on #99
Regarding your first comment. We do get in touch with project leads generally a week or two after hack night AND a week or two before. But happy to have others get in on the fun as well. To the point about MOCHA, not explaining it was intentional for 2 reasons: 1) we are piloting it with Census, 2) I wanted to be quick so we could get to work. It is something groups can opt into, but isnot require

[2019-10-19 11:33] Aycrazy commented on #99
Id also like to add to @Brianbarkley's suggestions and recommended that everyone but  1 or 2 xofe team members get directly involved in a project (I know some ppl have). And that other 1 or 2 ppl float and observe like Brian did.

[2019-10-23 00:30] BarkleyBG opened #102 "rearrange presentation of info on Meetup?"
There are a couple categories of information that need to be presented on Meetup (or similar)  for each hack night:

1. promotional information
  - why people want to come
  - e.g., who is speaking
  - e.g., we can do better in the future to identify which projects will be in attendance (that's another issue for later tho)
2. logistics
  - e.g., where when and parking
3. rules
  - e.g., code of co

[2019-10-25 16:57] #93 closed, assigned to nobody

[2019-10-25 16:57] BarkleyBG opened #103 "Food for HN 2020.01 - January"
funding
- [ ] determine funding
- [ ] secure funding ($ in account)

food
- [ ] determine where to get food
- [ ] determine what we want to order
- [ ] call ahead to ask if they can do that

drinks
- [ ] determine what soda/water to provide

execution
- [ ] place order
- [ ] pay for order
- [ ] arrange for pickup
- [ ] also bring:
     - [ ] napkins
     - [ ] plates
     - [ ] utensils

(This iss

[2019-10-25 17:00] #87 closed

[2019-10-25 17:01] BarkleyBG opened #104 "Announce Hack Night 7 at Hack Night 6"
Post a meetup event invite or something for HN 7

[2019-10-25 17:02] BarkleyBG commented on #94
Let's review the newer slides (v2 here: https://docs.google.com/presentation/d/1fZw5PLG446MP_6ffMIehg3X6Wj51yal0iNx5ZSgJMCo/edit) and see if they should go live

[2019-10-25 17:04] BarkleyBG commented on #82
Im thinking we should write thank you cards for presenters and sponsors.

We could bring a set of cards to the event where all Core Team signs them, for example

[2019-10-28 16:07] Aycrazy commented on #98
Some draft responses to app questions: https://docs.google.com/document/d/1oFTdHRFDrRBmayFpfWu0UXarlNb47p_hU5MNy1FdoNo/edit

[2019-11-05 01:30] anthonyjesmok commented on #103
@BarkleyBG can you check the bag to see if we still have a good supply of napkins, plates, utensils, and cups? And also what beverages are still in stock?

@Aycrazy Have we received our funding from Layer One yet?

[2019-11-05 01:59] BarkleyBG commented on #103
i can check the bag. I will let you know.

[2019-11-06 23:17] BarkleyBG commented on #103
Beverages: water.
Lots of napkins
70+ plates
30 spoons, 20 forks, a dozen sporks
1-2 dozen cups

[2019-11-07 22:35] Aycrazy opened #105 "Add new projects to breakout groups site"
The Health Clinics and MKE Public Works projects need to be added

[2019-11-22 02:10] BarkleyBG opened #106 "Can we start a Classifieds section: Help Wanted and Help Offered?"
THis is something that we've been wanting to do . But instead of us micromanaging this, could we crowdsource it?

- Could we use a GitHub repo where people post an issue for "I want this" or "I can offer this" ?
- Per @erinmagennis , does Newance have any suggestions for how to do this better?
- Can we use this medium for pushing projects outside of the hack night?

[2019-11-22 02:12] BarkleyBG opened #107 "BRing a stack of thank-you cards for December"

[2019-11-22 02:12] BarkleyBG opened #108 "Write thank-yous to Layer One for hosting"
I think Brian can do this

[2019-11-22 02:14] BarkleyBG commented on #67
This needs a refresh. Is there anything that we need to update for December? Or are the digital programs perfect as-is?

[2019-11-22 02:15] BarkleyBG opened #109 "What are the requirements for a CfM project?"
- civic need
- open source

ALSO

1. Has a good README and a dedicated Repo
2. Answers our emails
3. Tells us whether they will be present for Hack Night a week in advance
4. Tells us what their plan is to work on at Hack Night, and what kind of team members they need.

[2019-11-22 02:17] BarkleyBG commented on #86
Check the vote on the CfM slack

[2019-11-22 02:18] #74 closed

[2019-11-22 02:19] BarkleyBG commented on #44
This will be improved by keeping track of who is coming and what they need. See #109

[2019-11-22 02:19] BarkleyBG commented on #89
Relates to #109. Can we cancel for now @Aycrazy

[2019-11-22 02:20] BarkleyBG commented on #105
We need to solve #109 first

[2019-11-22 02:21] BarkleyBG commented on #85
OH HAY @esquivelan01

[2019-11-22 02:21] #85 closed

[2019-11-22 02:22] BarkleyBG commented on #92
solved with the hack-night-digital-programs for now by @Aycrazy

[2019-11-22 02:22] #92 closed, assigned to nobody

[2019-11-22 02:23] BarkleyBG commented on #91
@esquivelan01 we will help to onboard you soon enough :)

[2019-11-22 02:24] BarkleyBG commented on #102
Let's do this! Let's send a lot of this info to the digital program page.

[2019-11-22 02:24] #84 closed

[2019-11-22 02:25] BarkleyBG commented on #90
Closing as past date?

[2019-11-22 02:25] #90 closed

[2019-11-22 02:29] BarkleyBG opened #110 "Consider adding a 2nd presentation: a techy instructional tutorial?"
E.g., at 7:15pm, someone could present for 20 minutes on "How to do X with JavaScript" or something. Kind of like the old MachineLeaning Meetups that @mitchellhenke would do. I think:

- people would like to hear this
- we could (fairly) easily ask our tech friends to put together a 20 minute presentation
- i think it would drive numbers of people showing up
- This could be optional, and we could

[2019-11-22 02:30] BarkleyBG commented on #96
Yes we will

[2019-11-22 02:30] #96 closed, assigned to nobody

[2019-11-22 02:30] #81 closed

[2019-11-22 02:31] BarkleyBG commented on #80
Perhaps thank-yous can be physical now?

[2019-11-22 02:32] BarkleyBG commented on #98
andrew submitted, so we will close this. If we hear back, we will open new issue with new action items

[2019-11-22 02:32] #98 closed, assigned to nobody

[2019-11-22 02:32] BarkleyBG commented on #94
This is pretty good.
- But @erinmagennis  said maybe we can skpi the GitHub stuff until it's needed?
- And Orientation should be "for anyone who doesn't:
    - want to talk to the speakers
    - already have a project in mind "

[2019-11-24 17:10] Aycrazy opened #111 "Thank you to Layer 1 Media"
They hosted and sponsored

[2019-11-24 17:12] Aycrazy opened #112 "Recap Email to membereship"
Mailchimp campaign

Need to translate recorded updates/progress info to notes that can be added to the email

Include any upcoming events --> should mention code n' brews as a place for continuing to work on projects

Push feedback form and when a second hack night would be convenient

Not sure if we currently have a donation button, but we should have it somewhere in the email

[2019-12-01 19:25] anthonyjesmok commented on #104
This has been posted: https://www.meetup.com/Code-for-Milwaukee/events/266648735/

[2019-12-01 19:25] #104 closed, assigned to nobody

[2019-12-01 19:28] anthonyjesmok commented on #19
November - Mitchell Henke
December - Stack41
January - Cameron and Rebecca?

[2019-12-01 19:30] anthonyjesmok commented on #102
2 and 3 should be sent to Digital Program with a note in the Meetup about what the digital program containing and that it should be read.

[2019-12-03 00:36] Aycrazy commented on #112
Done today

[2019-12-03 00:36] #112 closed, assigned to Aycrazy, BarkleyBG, erinmagennis

[2019-12-03 00:37] Aycrazy commented on #111
In agenda

[2019-12-03 00:43] #33 closed

[2019-12-03 00:45] BarkleyBG commented on #44
relates to #105

[2019-12-03 00:46] BarkleyBG commented on #75
moved to #19

[2019-12-03 00:49] Aycrazy commented on #108
@BarkleyBG should see #111

[2019-12-03 00:51] Aycrazy commented on #95
Have something to start on here -- @erinmagennis has a issue for this

[2019-12-03 00:52] erinmagennis commented on #19
https://docs.google.com/spreadsheets/d/1kCxjAFAGKWeZWueLdTnBKIKwsmov_OpWlRwrSnz-dKY/edit#gid=491067941

^^^ list of hack night location, sponsor, speaker, and food and corresponding contact info

[2019-12-03 00:58] Aycrazy commented on #75
Let's close this for now

[2019-12-03 00:58] #75 closed

[2019-12-03 01:03] Aycrazy commented on #106
We can use Digital Public Works for this!

[2019-12-03 01:04] Aycrazy commented on #111
This is redundant of #82

[2019-12-03 01:04] #111 closed, assigned to Aycrazy, BarkleyBG

[2019-12-03 01:04] Aycrazy commented on #108
Even better #82

[2019-12-03 01:05] Aycrazy commented on #80
Using a google plugin for this, as long as you have a draft email, you can blast emails to ppl in a spreadsheet

[2019-12-03 01:05] #80 closed

[2019-12-03 01:05] Aycrazy commented on #66
I think we've nailed this

[2019-12-03 01:05] #66 closed

[2019-12-03 01:07] Aycrazy commented on #55
Andrew has a repo w/ notes, see here: https://github.com/Aycrazy/brigade_congress_notes

[2019-12-03 01:07] #55 closed

[2019-12-03 01:07] Aycrazy commented on #68
Return to this once Alejandro is settled

[2019-12-03 01:07] #68 closed

[2019-12-03 01:08] Aycrazy commented on #105
Did this before last hack night

[2019-12-03 01:08] #105 closed, assigned to nobody

[2019-12-03 01:15] BarkleyBG commented on #66
Let's be sure to invite the host/sponsor to give a 5 min talk

[2019-12-03 01:23] BarkleyBG commented on #71
@Aycrazy  will put together a list for @esquivelan01 to ask for in December

[2019-12-03 01:44] BarkleyBG opened #113 "create how to donate walk-through document"

[2019-12-03 02:40] erinmagennis opened #114 "Update website with our faces + contact info"
Brian had a great idea of adding ourselves to the website. I think this will help make us seem more approachable and human. I think we can make this happen by December 19th.

So it can be compiled in 1 place, please drop the following info in https://docs.google.com/document/d/1XfkzypvZOGkPLBb3x90m9_l917VLRp_dUThyeqvVp8w/edit
- Name
- Email
- LinkedIn, Github, or some other link (if you so desire)

[2019-12-03 19:51] esquivelan01 opened #115 "HN7 Catering"
-Meat: $11/lb Gyro/Chicken; $12/lb Beef; $.5C Pita Bread;
-Veggie Friendly: $8 Spinach Pie - serves 1-2 people, $4 ½ dozen or $7 dozen falafel;
-Pick up only; Couple days prior for ensured delivery

Amounts we should order?

[2019-12-04 17:09] Aycrazy opened #116 "Workshop on making the most of hack night? Explain the structure/schedule"
I'm thinking that this could replace a presentation one month.  Will need everyone's input on this, could be the plan for February Hack Night

@mitchellhenke @romkedehaan @erinmagennis @BarkleyBG @anthonyjesmok @esquivelan01

[2019-12-05 01:24] BarkleyBG commented on #116
It’s not totally clear to me what this means  @aycrazy. Is it that, instead of a presentation, we could provide a presentation to the audience on what our Hack Nights are about, and what we hope the audience will get out of it?

[2019-12-05 05:03] Aycrazy commented on #116
Yeah and maybe best practices for making the most of one's time (if we assume they want to find a project to work on and to move that project forward in some way). I don't know if that would be much of a draw though. So maybe presenting on this should be in a different setting

[2019-12-05 18:06] Aycrazy commented on #114
Where should we drop this, here?

[2019-12-05 18:06] Aycrazy commented on #113
The instructions are on the landing page, let me know if this is sufficient

[2019-12-05 18:08] Aycrazy commented on #15
Are we doing enough in this arena?

[2019-12-05 22:32] Aycrazy opened #117 "Promote Job Posting by Wisconsin Voices Partner - Empower"
We can put this in the pre-hack night 7 email

https://drive.google.com/file/d/0B7Hc7Ui-lOrwRG0yZklpXzhpSGNBSUhDZ0E2b2dWLVJFNmhr/view?usp=sharing

[2019-12-06 02:03] BarkleyBG commented on #117
looks good to me, as long as we word it appropriately.

[2019-12-06 02:11] BarkleyBG commented on #113
Looks great!

I opened https://github.com/codeformilwaukee/codeformilwaukee.github.io/issues/7 - can we move it down on the page? See the related PR.

[2019-12-06 02:14] BarkleyBG commented on #114
I just created a folder in the drive. Fill out this sheet and add a photo file to the drive. https://docs.google.com/document/d/1XfkzypvZOGkPLBb3x90m9_l917VLRp_dUThyeqvVp8w/edit

[2019-12-06 02:21] BarkleyBG commented on #114
Case in point for this issue: we need to make it easier for people to contact us! https://github.com/codeformilwaukee/hack-night-digital-programs/issues/1

[2019-12-11 22:47] Aycrazy commented on #115
Looks like we should be good for 25. We need to promote the event more

[2019-12-14 18:44] Aycrazy opened #118 "Put notices of hack nights in Shepard express"
We can have info about hack nights in the "Saving Our Democracy Section"

[2019-12-17 13:57] Aycrazy commented on #114
Im not 100% sure that's the takeway. I think Zeno may have been playing around with github too

[2019-12-27 17:17] #91 closed

[2019-12-27 17:18] Aycrazy commented on #114
Please do this!

[2020-01-03 22:36] Aycrazy opened #119 "Write to project leads about food funding reimbursement"
GMF money gives us the ability to reimburse breakout group leaders for food purchases for meetings

[2020-01-03 23:14] BarkleyBG commented on #119
Should we consider requiring project leads to get pre-approved by Core Team and/or Treasurer?

[2020-01-04 00:16] Aycrazy commented on #119
Makes sense to me

[2020-01-04 04:29] anthonyjesmok commented on #119
We definitely should get an SOP setup for this just to ensure we are equitable and fairly distributing funds.

[2020-01-04 04:29] anthonyjesmok commented on #108
Could we get a status on this @BarkleyBG ?

[2020-01-04 18:34] BarkleyBG commented on #108
@anthonyjesmok I think @erinmagennis mailed them. I will confirm.

[2020-01-05 20:20] BarkleyBG commented on #108
Erin indeed mailed them. All good!

[2020-01-05 20:20] #108 closed, assigned to BarkleyBG

[2020-01-05 20:23] #115 closed, assigned to esquivelan01

[2020-01-05 20:23] #113 closed, assigned to Aycrazy

[2020-01-05 20:25] BarkleyBG commented on #103
I’m just bumping this from Dec to Jan because I’m too lazy to recreate it anew

[2020-01-05 20:25] #107 closed, assigned to BarkleyBG

[2020-01-07 01:31] BarkleyBG opened #120 "announce funding from GMF"
Relates to #119

[2020-01-07 15:00] Aycrazy commented on #119
Hello team!  Please take a look at this document and provide any comments/feedback/suggestions on this as a guiding document for project groups to get funding reimbursements for food/drink at team meetings (outside of hack night): https://docs.google.com/document/d/12fajspbvveURIj8wB0zII26ODCmfpoEfgoy_sK8IVFA/edit?folder=1Dg6ic-6FpWdH0TPtZGCsQZQmbU9xSDHK

[2020-01-09 01:01] anthonyjesmok commented on #19
January - Milwaukee County Alternate Drug Treatment Court
February - Sprout City Tech
March - ACLU of Wisconsin / MPD Update?

[2020-01-09 02:18] #86 closed

[2020-01-09 02:18] BarkleyBG commented on #17
@Aycrazy I’m closing this

[2020-01-09 02:18] #17 closed

[2020-01-09 02:20] #44 closed

[2020-01-09 02:22] #94 closed, assigned to BarkleyBG

[2020-01-10 14:01] Aycrazy commented on #114
Should we add brief bios too?

[2020-01-11 23:38] BarkleyBG opened #121 "Check inventory status for HN 2020.02"
These people are picking up:

Brian/andrew?
- [ ] Signage - we need to print a couple new signs, maybe?

ANDREW
- [ ] Plates - we have 1doz small 1doz large. Need another 2-3 doz
- [ ] Cups - we have <20. We need 2-3 doz more
- [ ] Beverages - we have a dozen watter bottles. Need some soda
- [ ] utensils - we have 2 dozen forks, and a couple spoons and knives . We need 2 doz forks, 4 doz knives an

[2020-01-11 23:42] BarkleyBG opened #122 "Print signs for HN 2020.01 in UWM Bolton"
- [ ] create new signs with correct room
- [ ] print out a lot of signs

[2020-01-12 21:00] BarkleyBG commented on #121
Need cups, beverages, and signs.

[2020-01-13 00:24] BarkleyBG commented on #102
I removed the verbatim info on code of conduct & photo release, and I instead just linked to our digital program for that information.

[2020-01-13 00:49] BarkleyBG commented on #102
i'm closing this because I drafted February's in a way that meets this style https://www.meetup.com/Code-for-Milwaukee/events/267865857/

[2020-01-13 00:49] #102 closed, assigned to nobody

[2020-01-13 01:29] BarkleyBG commented on #118
I did. here's dox on how to do it again: https://docs.google.com/document/d/1wh9jLPzL0XiJ657CiNyTOUgmmQ3urTc_nEMbgNoHoYs/edit#heading=h.ojz5w3j7zzrx

[2020-01-13 01:41] Aycrazy commented on #118
Awesome! Thanks!!

[2020-01-13 16:04] Aycrazy commented on #114
Let's just have linkedin links.  We can do Name, Face, Title, Link. @BarkleyBG and @romkedehaan  please share a face shot in this folder: https://drive.google.com/drive/folders/1LngXW5WWg5egGmKfBtHum2K89OpeK81S.  I can figure out the rest...

[2020-01-13 17:06] romkedehaan commented on #114
https://rjefw55j9d-flywheel.netdna-ssl.com/wp-content/uploads/2017/07/Romke-de-Haan-Preferred.jpg

[2020-01-14 17:03] Aycrazy commented on #114
Created very inelegant solution. That's what you get

[2020-01-14 17:03] #114 closed, assigned to mitchellhenke, romkedehaan, anthonyjesmok, Aycrazy, BarkleyBG, erinmagennis, esquivelan01

[2020-01-14 23:02] BarkleyBG commented on #122
The printer had errors with the new signs that say Bolton on them, so I printed off a bunch of signs with no room number. We can add it in manually.

[2020-01-14 23:02] #122 closed, assigned to BarkleyBG

[2020-01-16 21:10] BarkleyBG opened #123 "Create a schedule of monthly communication activities"
- social media (tweets)
- necessary info (which project leads are coming)
- when to get Meetup info out, etc.

I would like help from all parties on this one. I think it's time we come up with a plan of how to do this every month, and then execute it one by one.

[2020-01-16 21:21] Aycrazy commented on #123
YES

[2020-01-18 05:22] Aycrazy opened #124 "Devise a way for Brigade members to know they are members"
And decide when exactly they can consider themselves a member. What privileges does membership afford for starters, as well

[2020-01-22 14:32] anthonyjesmok commented on #103
Alejandro ordered Damascus Gate and it was catered for January's hack night.

[2020-01-22 14:32] #103 closed, assigned to nobody

[2020-01-22 14:46] anthonyjesmok commented on #117
@erinmagennis @BarkleyBG Did this go out in an email?

[2020-01-22 15:18] erinmagennis commented on #117
Yes, it did.

[2020-01-22 15:21] #117 closed, assigned to BarkleyBG, erinmagennis

[2020-01-22 17:19] erinmagennis commented on #124
Here's how Chicago does it: https://chihacknight.org/membership/application.html

[2020-01-22 17:22] mitchellhenke commented on #124
Important to note that Chicago is not a Code for America brigade. Would be curious if other brigades have some processes for it or not.

[2020-01-22 22:03] BarkleyBG opened #125 "Food for HN 2020.02 - Feb"
funding
- [ ] determine funding
- [ ] secure funding ($ in account)

food
- [ ] determine where to get food
- [ ] determine what we want to order
- [ ] call ahead to ask if they can do that

drinks
- [ ] determine what soda/water to provide

execution
- [ ] place order
- [ ] pay for order
- [ ] arrange for pickup
- [ ] also bring:
     - [ ] napkins
     - [ ] plates
     - [ ] utensils

(This iss

[2020-01-22 22:07] #120 closed, assigned to nobody

[2020-01-23 02:09] BarkleyBG opened #126 "as a non-partisan group, do we need to "no campaigning" and "dont handout flyers" at our events?"
Wondering what yall think

[2020-01-23 03:23] anthonyjesmok commented on #124
I know we had a few ideas come up in the past:
1. Use a CRM (Constituent Relationship Management) system to track our member base across a variety of platforms (Meetup, Facebook, etc.) and also to track activities, project leadership, attendance, etc.
2. Issue membership cards to qualified members. I proposed using barcodes on the membership card that are scanned for quick check-in and also could

[2020-01-23 03:47] mitchellhenke commented on #124
I think tracking people’s attendance and activity at that level of detail is deserving of further thought before starting any effort on it.

What are our goals in starting a membership system?

[2020-01-23 04:16] erinmagennis commented on #126
Yes, I wasn't a fan of the guy that came last time, who dipped out after handing out his flyers. He was very "politiciany", portrayed a decent amount of lack of respect for me, and as shown through his actions has no real interest in being engaged in the CfM community.

I think it is a different story if they are a committed member and want to share something of actual value, the speaker, or someo

[2020-01-23 04:19] erinmagennis commented on #124
In the meantime for any system, I could use some help with ushering people to get signed in. I think I am at ~80% check in rate (which obviously could be improved), but it's been challenging to try to engage with people when they are signing in and make them feel welcome, meanwhile, trying to flag down the new people coming in.

[2020-01-24 15:31] BarkleyBG commented on #126
In addition to the current code of conduct, what if we added something like this?

- No campaigning is allowed at CfM events. We are a non-partisan organization; please do not distribute flyers or other campaign materials.
- We do not allow most forms of recruiting on the behalf of for-profit organizations at our events, with the possible exceptions in the cases where the event is sponsored by, ho

[2020-01-24 18:18] BarkleyBG opened #127 "Determine if there’s any improvements to be made to Breakout Groups on website"
Let’s review the website and see if the Breakout Groups info is intuitive enough for members to use.

Thanks to Liz for bringing this up

[2020-01-26 04:37] anthonyjesmok commented on #126
Here is my proposal:

While Code for Milwaukee participates in a number of issues relating to civic politics and various levels of government, our organization aims to be non-partisan and does not endorse any political candidate for office. In addition, some of the venues we have used for events have restrictions on political activity that we must respect. Therefore, we have established these poli

[2020-01-26 04:50] anthonyjesmok commented on #124
Our goals of a membership system would be to maintain a central database to track who attends our events, no matter what channel they come from (word of mouth, Meetup, Facebook, newspaper, etc.) This would allow us to maintain a central database, beyond a Google Sheet, for marketing purposes. This system could later be used to off-shoot other initiatives or systems, like one for project management

[2020-01-28 14:59] Aycrazy opened #128 "Set up next 3-4 presentations (March-June)"
Prospects:
- John D. Johnson
- Gerardo Mares
- Someone from health department?
- Kat Tow - Accessibility
- Angelina Mosher-Salaazar - WUWUM reporter
- Erin -- Journal Sentinel Data Journalist
- Marquette students working with Mark Zachar
- Joe Peter-Angelo (?) be second appearance so maybe should get others before

[2020-01-28 15:03] Aycrazy opened #129 "Find space for next 3-4 hack nights (maybe 2-3 more likely :/)"
February - (Bolton hall as backup)
March - DS?
April - ?
May - ?

[2020-01-28 17:06] romkedehaan commented on #129
Possibly Ward 4 space with the Commons for Feb and possible collab with [CO:Lab](https://www.colabmke.com/)

[2020-01-29 01:04] BarkleyBG commented on #128
I'm moving this to #19

[2020-01-29 01:05] BarkleyBG commented on #128
can i close this?

[2020-01-29 01:22] BarkleyBG commented on #99
summary of the above.
---
@Aycrazy can you look over and see which of these items we still think are issues that we want to address?

1. Bigger, better signs pointing to the room
2. Establish rules for keeping an active CfM-supported project. Two rules I would propose is that one group member must remain present to give updates at the end of the hack night, and the other being that a project is ma

[2020-01-29 14:14] anthonyjesmok commented on #129
Februrary - Clean Slate Milwaukee says we may be able to use the Welford Sanders Enterprise Center in Harambee.

March - Who is on point from Core Team on connecting with Direct Supply on usage of their space?

Ward 4 has not responded to previous attempts to contact them regarding space usage. Collaboration with CO:Lab should be thought out in a separate issue.

[2020-01-29 14:18] romkedehaan commented on #129
We already have the ask out with Commons. She’s supposed to get back to us
today. Let’s just wait.

The co:lab collab can be brought up once we know it’s a thing.

Romke

On Wed, Jan 29, 2020 at 8:15 AM Anthony Jesmok <notifications@github.com>
wrote:

[2020-01-29 14:23] anthonyjesmok commented on #129
If there is an ask going out for usage of space, the rest of the team needs to be made aware of it for transparency and accountability. Let us know what happens.

[2020-01-29 14:24] #128 closed, assigned to nobody

[2020-01-29 14:25] romkedehaan commented on #129
There was on slack. Someone asked to reached out to them so I did.

Romke

On Wed, Jan 29, 2020 at 8:23 AM Anthony Jesmok <notifications@github.com>
wrote:

[2020-01-29 14:25] anthonyjesmok commented on #121
How are we doing on inventory? Does anything else need to be ordered @BarkleyBG?

[2020-01-29 14:26] Aycrazy commented on #121
I have the bag. I'll check later.

On Wed, Jan 29, 2020 at 8:25 AM Anthony Jesmok <notifications@github.com>
wrote:

--
Andrew Yaspan
Programmer Analyst III
Medical College of Wisconsin
Clinical and Translational Science Institute
Code For Milwaukee Core Team (Captain)
brigade site: codeformilwaukee.org
meetup: https://www.meetup.com/Code-for-Milwaukee

[2020-01-29 14:29] Aycrazy commented on #129
Yeah. Thanks for reaching out Romke.  Let's see what whoever Romke asked
says regarding Feb.  I'll tell Shanyeill that Ill confirm whether or not we
would like Welford Sander Center, which from my recollection has decent
wifi, but I will inquire on tha tas well.

On Wed, Jan 29, 2020 at 8:25 AM Romke de Haan <notifications@github.com>
wrote:

--
Andrew Yaspan
Programmer Analyst III
Medical College

[2020-01-29 14:29] anthonyjesmok commented on #129
Got it, likely got buried in our messages. Let us know please what is said.

[2020-01-29 14:33] Aycrazy commented on #129
I think asking the Commons now is good because we will also need spaces for
pj workshops, internship related sessions (I think), and future hack
nights.  So all good in my book

On Wed, Jan 29, 2020 at 8:29 AM Anthony Jesmok <notifications@github.com>
wrote:

--
Andrew Yaspan
Programmer Analyst III
Medical College of Wisconsin
Clinical and Translational Science Institute
Code For Milwaukee Core Te

[2020-01-29 21:40] romkedehaan commented on #129
Commons, Ward4 is out for Feb.

[2020-01-29 22:00] Aycrazy opened #130 "Find Space for 3/5 project facilitation training sessions"
We will having two of the events Penrod.  Once we lock down some of the other dates/times, we will get spaces for them.  If the events are during the day, we can consider public libraries

[2020-01-30 00:46] anthonyjesmok commented on #121
I just got a poster printer with 13x19 photo paper. I can print signage if need be.

[2020-01-30 01:10] romkedehaan opened #131 "Launch Playbook"
We need a launch playbook for all CfM projects.

[2020-01-30 01:22] romkedehaan commented on #131
Here's a rough draft.

1. Infrastructure
- Where will this project live?
- Who owns the Infrastructure?
- Who is paying for the Infrastructure?
- Is there a build script for stating/production?
- Is the application following NIST/CIS/CCM security standards?
- Do you have security monitoring/groups to ensure teams are monitoring the stability of the infrastructure?
- Is the Infrastructure properly

[2020-01-30 01:25] romkedehaan commented on #131
[GitHub Project here.](https://github.com/codeformilwaukee/Launch-Playbook)

[2020-01-30 01:52] BarkleyBG opened #132 "put together a pitch for gbeta pitch out night"
@romkedehaan can you post or email us information about what kind of pitches they are looking for?

Who wants to be involved?

[2020-02-04 14:59] Aycrazy commented on #131
May want to check for existing resources here: https://discourse.codeforamerica.org/

[2020-02-14 01:51] BarkleyBG commented on #121
Check for status on the inventory on:
- [x] Star stickers
- [x] CfM stickers
- [ ] Signage - need to print a couple new signs, maybe?
- [x] tape for signs
- [ ] Plates 1doz small 1doz large
- [x] Napkins
- [ ] Cups <20
- [ ] Beverages a dozen watter bottles
- [ ] utensils 2 dozen forks, and a couple spoons and knives

[2020-02-14 17:38] Aycrazy opened #133 "Potential Spaces for April/May/June"
United Way - Luke
Wisconsin Voices Office
Ward4
ICStars
Welford Sanders - confirm that we have this for May (potentially?) also need to find out about wifi
NoStudios
LayerOne

[2020-02-14 22:15] Aycrazy commented on #133
Hudson?
Matt Cordio is trying to open up a space for January 2021

[2020-02-15 03:54] anthonyjesmok commented on #121
There's a desire too to purchase a gym bag or something with compartments that is easier to carry.

[2020-02-15 04:43] erinmagennis commented on #133
1.) Nick is a consultant for Hudson, I could ask him to get us space there.
2.) Also Discovery World could be an option too.

I thought April/May were locked down at Ward 4 (or somewhere else)?

Let me know what dates we need and if we are feeling either of those 2 places.

[2020-02-15 04:45] erinmagennis commented on #121
I probably have an extra duffel bag. If I don't confirm by Sunday can someone remind me please.

[2020-02-15 16:06] BarkleyBG commented on #121
Sorry, just getting to this.

[2020-02-15 16:06] BarkleyBG commented on #121
I'll remind erin

[2020-02-15 21:10] anthonyjesmok commented on #121
Let me know what we need in terms of signage.

[2020-02-16 00:10] anthonyjesmok commented on #133
@romkedehaan anything on Ward 4?

[2020-02-16 00:11] anthonyjesmok commented on #101
@BarkleyBG Are we already implementing this?

[2020-02-16 00:12] BarkleyBG commented on #101
@anthonyjesmok not really. It’s an option for later events. We are as of today writing small thank you letters from the organizing team

[2020-02-16 22:40] anthonyjesmok commented on #121
"I'll pick up the utensils, plateware, cups and beverages" - @Aycrazy
"I have an extra duffel bag. As long as y’all are ok with it promoting Pewaukee basketball." - @erinmagennis

[2020-02-19 02:16] anthonyjesmok commented on #133
Continuus Technologies - Contact and tour at end of February.

[2020-02-20 21:07] BarkleyBG commented on #126
i added a blurb under the code of conduct in the digital programs readme, so we have something for today. Let's review Mitch's edits soon.

[2020-02-21 13:41] Aycrazy commented on #133
- Luke has a request in with his higher ups at United Way for March
- I don' think Romke has contacted NoStudios, but that's fine
- I'm confident if we reach out to LayerOne we can get them
- If Continuus works, I think we can get them too
- That UWM room was nice, good working @anthonyjesmok

[2020-02-21 14:28] Aycrazy commented on #133
Yatchak Hall at the building WisVoices is in is also a possibility

[2020-02-21 14:37] Aycrazy commented on #19
For March - Reached out to:
-  Dr. Amber Wichowsky who runs the Democracy Lab
- Isral DeBruin who is Directory of Strategy and Communication at the City Forward Collective

[2020-02-21 15:00] anthonyjesmok commented on #133
Let's see about United Way for March, Continuuus for April, and perhaps LayerOne or WisVoices for May.

[2020-02-21 15:10] romkedehaan commented on #133
We had Ward4 for April is that still not the case?

On Fri, Feb 21, 2020 at 9:00 AM Anthony Jesmok <notifications@github.com>
wrote:

[2020-02-21 15:10] anthonyjesmok commented on #133
There has been no direct communication to any of us regarding that @romkedehaan

[2020-02-21 15:11] anthonyjesmok commented on #133
We also spoke to devCodeCamp last night, who may be able to let us use their space in Ward4 and also mentioned Ward4's central management has had some turnover lately.

[2020-02-21 15:13] romkedehaan commented on #133
It’s in slack from January.

https://cfa.slack.com/archives/GKUA1JFSB/p1580335013088900

On Fri, Feb 21, 2020 at 9:10 AM Anthony Jesmok <notifications@github.com>
wrote:

[2020-02-21 15:15] anthonyjesmok commented on #133
Can you send us the contact info for Ward4 @romkedehaan ?

[2020-02-21 15:57] Aycrazy opened #134 "Schedule"
Saturday morning - post out about both: project facilitation series general info AND info on the event on the 29th (with link)
 - On: Fbook, Linkedin, Twitter, Instagram

Monday afternoon - post about 29th event (with link) -- and details on food from ....

Wednesday afternoon-  post reminder about 29th

Thursday afternoon - create event pages for Undoing Racism Workshop (March 21)

Friday afterno

[2020-02-22 01:09] Aycrazy opened #135 "Createa a directory of places that have open space and wifi"
Libraries
Ward4 on Fridays at 1?
United Way Volunteer Center from 9-5 on week days
UECs (Urban Ecology Centers)
Others?

[2020-02-23 15:01] Aycrazy opened #136 "Proposed Changes to Hack Night Run of Show"
- During unstructured welcome time I propose the following
  - Project Leads discuss their "pitch" with @erinmagennis and @BarkleyBG
    - They will be asked to prepare:
      - Overall project Description
      - Progress
      - Needs
      - Opportunities for someone to learn something new by taking on X
  - @anthonyjesmok and @Aycrazy lead the rest of the group in "guided" networking
    - Ent

[2020-03-01 00:08] Aycrazy opened #137 "Give Kayla the keys to Twitter planning"
Kayla will help us with social media outreach.  Hooray

[2020-03-01 00:09] Aycrazy opened #138 "Schedule when the core team can meet with Liz Fox"
She is going to help us with public presence and serving our users in general.  I think this may also be a good time to revisit roadmap things

[2020-03-01 00:19] Aycrazy commented on #138
She asked for 1 hour with the team. Let's schedule this during our next meeting on Wednesday

[2020-03-01 00:46] Aycrazy opened #139 "In Email to Project Leaders Strongly Suggest Creating Digital PW Project"
We can also change the stipulation in the meeting food-funding requirements to have a github issue to this requirement

[2020-03-01 00:46] Aycrazy opened #140 "Mail the Thank-You's that Brian made to respective individuals"
Glenn
Amanda
Nadiyah

[2020-03-02 19:13] Aycrazy opened #141 "Create a Project Description for Code for Milwaukee Employee"
There's a case that it's time to pay someone to take Code for Milwaukee to the next level.  May be one of us, may not. I think if we put our heads together we can figure out what this entails and ought to look like.  This description is understandably vague

[2020-03-08 05:44] anthonyjesmok commented on #136
What We Agreed To At Our Last Core Team Meeting:
1. Core Team to introduce themselves to new people and check in with project leads during networking and meal time surrounding the questions above.
2. @BarkleyBG and @anthonyjesmok to work on an ice breaker at the beginning of the session after meal time. @anthonyjesmok will be bringing in a beach ball covered in questions that will be thrown around

[2020-03-08 15:52] Aycrazy commented on #136
For clarity, @anthonyjesmok when you say 1:1 you still mean in the open format we generally use, right?  This outline looks great!  @anthonyjesmok and I also have had a nice correspondence with Dr. Katie Pritchard and she provided actionable suggestions for how to survey our audience.

[2020-03-08 17:20] Aycrazy commented on #136
@BarkleyBG and @anthonyjesmok perhaps this would be a good time to push the orientation as an additional thing they can look through and maybe it can be mentioned that it will be reviewed as part of the breakout group that will be going through the focus group-like activity Anthony will be leading

[2020-03-08 17:26] Aycrazy commented on #136
I also propose that @anthonyjesmok and @BarkleyBG  stick with the new ppl prior to welcome, and @Aycrazy @erinmagennis  and @mitchellhenke work with the project leaders to prep their updated (to be conducted by @anthonyjesmok via the 1 by 1 questions in front of the whole group)

[2020-03-08 17:27] Aycrazy commented on #136
@erinmagennis and @Aycrazy will be responsible for creating and printing out quick question are for project leads

[2020-03-08 17:41] erinmagennis commented on #133
Spaces (coworking space) is happy to host us for events

I also started a list of potential locations (copied from here and from J.) here - https://docs.google.com/spreadsheets/d/1kCxjAFAGKWeZWueLdTnBKIKwsmov_OpWlRwrSnz-dKY/edit#gid=862651430

I wasn't sure if we already had a doc for this?

[2020-03-08 17:43] Aycrazy commented on #133
I think we do somewhere, but i'll just move that all over to whatever you
just created

On Sun, Mar 8, 2020 at 12:41 PM Erin Magennis <notifications@github.com>
wrote:

--
Andrew Yaspan
Programmer Analyst III
Medical College of Wisconsin
Clinical and Translational Science Institute
Code For Milwaukee Core Team (Captain)
brigade site: codeformilwaukee.org
meetup: https://www.meetup.com/Code-for-Mil

[2020-03-12 15:02] Aycrazy opened #142 "Figure out where and how we want to organize our media"
Photos and videos from hack nights, internship, workshops, and other events for all of our public-facing comms

[2020-03-16 01:54] anthonyjesmok commented on #19
March: Isral DeBruin who is Directory of Strategy and Communication at the City Forward Collective
April: Speaker Selected, Who Is It?

[2020-03-16 01:56] anthonyjesmok commented on #79
Between our March and April hack nights, we should definitely ramp up our treasurer search.

[2020-03-16 02:03] anthonyjesmok commented on #136
Yes, a "talk show" 1:1 format.

[2020-03-16 02:06] anthonyjesmok commented on #129
March - Virtual COVID-19 Contingency
April - The Commons at Ward 4
May - Try United Way Again?

[2020-03-16 02:24] Aycrazy commented on #19
Listed at the top, John Johnson from Marquette Law Poll

[2020-03-16 02:26] Aycrazy commented on #129
Or may want to do it at Continuus? Depends on where things are at too

[2020-03-16 02:27] anthonyjesmok commented on #129
Definitely, we'll have to play this out by ear depending on how the COVID-19 situation ends up. We'll see how Continuus is for the PF meetup.

[2020-03-16 03:31] BarkleyBG commented on #19
Once a speaker (or location or sponsor) is secured for any event it should be listed in the event tracker sheet https://docs.google.com/spreadsheets/d/1kCxjAFAGKWeZWueLdTnBKIKwsmov_OpWlRwrSnz-dKY/edit#gid=1307825322

[2020-03-16 03:32] BarkleyBG commented on #129
Internal slack chat suggests we might try Virtual for April Hack Night too.

[2020-03-19 02:55] anthonyjesmok commented on #133
March - Zoom
April - Commons or Zoom (Depending on COVID-19)
May - Continnus or United Way?
June - Continnus or United Way?

[2020-03-20 00:26] BarkleyBG opened #143 "Determine new organization for digital programs"
1. it may not be very easy to find the current program, esp. for people who don't know GitHub
2. moving/renaming the digital program (which we do after the event is over) is also a problem for two reasons:
  - it breaks URLs (moderate/major problem)
  - and it also breaks the git commit history (very minor problem)

Suggested fix:
1. move all programs to the same subdirectory
2. move as much clutt

[2020-03-29 22:26] #126 closed, assigned to nobody

[2020-03-31 15:53] Aycrazy opened #144 "Survey participants to learn what they've learned"
- Name a few organizations you've learned about through hack nights or interactions with Code for Milwaukee
- Mention a new are of interest you have explored (even if for just 10 minutes at work) as a result of your interaction with Code for Milwaukee
- Have you found any new way (CfM project or otherwise) to get involved in the community as a result of your involvement with CfM?

+ more will come

[2020-04-03 13:28] BarkleyBG opened #145 "Link COVID19 youtube to the agenda and add time marks"
The [youtube recording of last week's COVID19 call to action](https://www.youtube.com/watch?v=oVpKqhVmSG4&feature=youtu.be&t=79) is great.
- Let's link it to the agenda (shown in the video).
- Also, consider adding time marks to jump to different featured presentations (e.g., 7:30 Dr Malika Siker for medical perspective)

[2020-04-09 15:38] BarkleyBG commented on #124
@anthonyjesmok do you know of any examples of a database system or toolkit that we could use for this?

[2020-04-09 15:41] Aycrazy commented on #124
@romkedehaan likes airtable :)

[2020-04-10 14:55] BarkleyBG commented on #140
@Aycrazy  did you mail these?

[2020-04-10 15:11] Aycrazy commented on #140
I don't have them

[2020-04-15 00:57] erinmagennis opened #146 "Review Website"
Follow up from Sat. core team meeting, everyone should review the website so we can agree on what updates should be made to it

[2020-04-16 23:57] BarkleyBG commented on #143
brief description of my idea:

- Events
  - 2020_01_16_feat_speakername.md
  - 2020_02_20_feat_speakername.,d
- related files
  - presentation.file
  - etc
- assets
   - jpeg
- Readme
  - has: VERY clear direct link to "MOST RECENT EVENT".

[2020-04-24 02:00] BarkleyBG commented on #146
I'd like to move this floating Hero header down somewhere else. And perhaps it should link to an About Us page that also includes the Goals and Mission?
https://github.com/codeformilwaukee/codeformilwaukee.github.io/blame/master/index.md#L4-L12

[2020-04-24 03:31] #143 closed, assigned to BarkleyBG

[2020-04-29 21:14] erinmagennis commented on #146
Recs based on other people's feedback:

Nav links:
- [x] delete code of conduct nav link (it is already in the footer)
- [x] delete slack, github, twitter
- [ ] delete digital programs (this github link will be added into the new join us page)
- [x] change "join us" to "About Us"
- [x] change "Breakout Groups" to "Join Us"
- [x] change "blog" to "What We're Doing"
- [ ] Add "Get Involved" button (

[2020-05-21 23:28] BarkleyBG opened #147 "Top topics for June 2020"
Here's my thoughts for top topics for things we want to do for June

1. Set up [Airtable for organizing projects](https://docs.google.com/document/d/1-w2UgIik4j2rHfhtJNoXdKTtbLM1bP8BFTZbCFxrco8/edit#)
1. Make big 1year anniversary (of hack nights?) plans & socialize it
1. Streamline the Project Leader Feedback form
    - make it a google poll
    - Determine how we want it to be posted (e.g., to D

[2020-08-14 15:25] BarkleyBG opened #148 "Create public spreadsheet of past & future Hack Night speakers"
columns:
- date
- speaker
- Meetup link
- digital program link
- link to slides (ours)
- link to slides (speaker)
- link to youtube

[2020-08-14 15:26] BarkleyBG opened #149 "Content: Add some "Recommended articles" to the slideshow"

[2020-08-14 15:49] BarkleyBG opened #150 "Content: add "message from our partner" to HN agenda"
Nadiyah will be sending us a few words of wisdom.
- We need to add that to our agenda/slides.
- we need to resolve any potential technical issues about braodcasting these
- we need to promote this content on social network

[2020-08-14 18:52] BarkleyBG opened #151 "Look around for a CfM Webmaster position?"
I think we should look for a volunteer to help upkeep our website. The webmaster would take the lead in the technical aspects of making sure the website looks good, and we would be tasked with most of the high-level strategy/content/planning. Having someone volunteer for this position would help us & probably also provide useful experience for a volunteer.

[2020-08-14 18:55] BarkleyBG opened #152 "Content: Mitch's new role(s)"
Add a slide for Mitch's new position, and announce we will probably be looking for more volunteers.

[2020-08-15 15:58] BarkleyBG opened #153 "Are we hosting NCDOH event?"
Andrew Ruthie and Brian met to talk about this; heres the notes: https://docs.google.com/document/d/1ovLoXOKI3cokb1d5pdhL9sW8I19gEbs_yARvUwRgjqs/edit#heading=h.2ysfl782ol4b

Upshot is that we want to take on these important issues but we would be starting at square 1. Perhaps we can run a brainstorming session similar to what we did with COVID response?

OPTION 1:
- 11am watch party for [CfA's NCD

[2020-08-20 02:58] BarkleyBG opened #154 "Add "FAQ" sheet with info for 1st timers"
From Lisa's question. What can you expect? Link to it from our documents.

[2020-08-23 14:51] BarkleyBG opened #155 "Create promo teaser video from MKE Black"
(This is an issue for September HN)

A promotional video to tease MKE Black’s presentation would be a good way to gain public interest.

[2020-08-25 02:01] BarkleyBG commented on #149
did that here: https://docs.google.com/presentation/d/1Yu6G3g0qjy-OSoX-qajkno6DRy2Hz3ZnWR6VWf63FT0/edit#slide=id.g919c70756d_1_27

[2020-08-25 02:01] #149 closed, assigned to BarkleyBG

[2020-08-25 02:01] BarkleyBG commented on #150
did this here: https://docs.google.com/presentation/d/1Yu6G3g0qjy-OSoX-qajkno6DRy2Hz3ZnWR6VWf63FT0/edit#slide=id.g919c70756d_1_0

[2020-08-25 02:01] #150 closed, assigned to nobody

[2020-08-25 02:01] BarkleyBG commented on #152
did this here: https://docs.google.com/presentation/d/1Yu6G3g0qjy-OSoX-qajkno6DRy2Hz3ZnWR6VWf63FT0/edit#slide=id.g919c70756d_1_20

[2020-08-25 02:01] #152 closed, assigned to BarkleyBG

[2020-09-11 21:37] Aycrazy opened #156 "Create a way for partners to share events through the website"
I'm not sure how much use this will get, but it could help, and it won't hurt

[2020-10-03 16:35] Aycrazy opened #157 "On the Table (GMF) 2020 App"
https://onthetablemke.org/

[2020-10-03 16:38] Aycrazy opened #158 "Mailchimp out to broadly announce Core Team Changes & our application for open Core Team position"
Revisit: https://docs.google.com/forms/d/145bTltLf_MVo_VYzvCrmo9W912IAs16kOOe4KIe9LQY/edit?usp=sharing

[2020-10-15 13:27] Aycrazy commented on #69
Slack (subscription)
Trello (subscription)